<div class="information_window_control">
	<%= link_to(image_tag("#{I18n.locale}/common/btn_close.gif"), "#", :id => "w_au_close", :style => "float:right")%>
</div>
<p class="title">
	<%= t(:weather_forecast_for) %> <%= @dateOn %>
</p>
<table class="ui-widget information_table" style="opacity:0.95;filter:alpha(opacity=95);">
	<thead class="ui-widget-header">
		<tr>
			<th class="small"><%= t(:location)%></th>
			<th class="small"><%= t(:forecast)%></th>
			<th class="small"><%= t(:issuedOn)%></th>
			<th class="small"><%= t(:maxTemp)%></th>
			</tr>
	</thead>
	<tbody class="ui-widget-content">
		<% if !@weather.present? %>
		<tr><td colspan="4"><%= t(:no_information) %>
		</td></tr>
		<% else %>
			<% @weather.reverse_each do |w| %>
			<% next if !WeatherConfig::AUSCityVisibleMap[w.location.to_sym] %>
			<tr>
				<td class="city"><%= link_to(t(w.location), WeatherConfig::AUSCityMap[w.location.to_sym], :target => "_blank") %></td>
			<% if WeatherConfig.au_letter_to_icon(w.forecast).present? %>
			<td><%= image_tag("common/weather/#{WeatherConfig.au_letter_to_icon(w.forecast)}.png") %></td>
			<% else %>
			<td><%= image_tag("common/weather/haze.png") %></td>
			<% end %>
			<td><%= w.issued %></td>
			<td><%= w.max %></td>
			</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
<%= _script(%Q|
	$("\#w_au_close").click(function() {
	$("#weather_au_information_box").hide("slow");
	return false;
	});
|)%>
<%= _script_document_ready(%Q|
	$("div.ok_information").height("350px");
|)%>
