<div class="information_window_control">
	<%= link_to(image_tag("#{I18n.locale}/common/btn_close.gif"), "#", :id => "w_kr_close", :style => "float:right")%>
</div>
<p class="title">
	<%= t(:weather_forecast_for) %> <%= @dateOn %>
</p>
<table class="table table-hover table-striped">
	<thead class="">
		<tr>
			<th class="small"><%= t(:location)%></th>
			<th class="small"><%= t(:forecast)%></th>
			<th class="small"><%= t(:issuedOn)%></th>
			<th class="small"><%= t(:minTemp)%></th>
			<th class="small"><%= t(:maxTemp)%></th>
			</tr>
	</thead>
	<tbody class="">
		<% if !@weather.present? %>
		<tr><td colspan="6"><%= t(:no_information) %>
		</td></tr>
		<% else %>
			<% @weather.reverse_each do |w| %>
			<% next if !WeatherConfig::KORCityVisibleMap[w.location.to_sym] %>
			<tr>
				<td class="city"><%= link_to(t(w.location), WeatherConfig::KORCityMap[w.location.to_sym], :target => "_blank") %></td>
			<% if WeatherConfig.kr_letter_to_icon(w.forecast).present? %>
			<td><%= image_tag("common/weather/#{WeatherConfig.kr_letter_to_icon(w.forecast)}.png") %></td>
			<% else %>
			<td><%= image_tag("common/weather/haze.png") %></td>
			<% end %>
			<td nowrap><%= w.issued %></td>
			<td><%= w.min %></td>
			<td><%= w.max %></td>
			</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
<%= _script(%Q|
	$("\#w_kr_close").click(function() {
	$("#weather_kr_information_box").hide("slow");
	return false;
	});
|)%>