<% business_clients.each do |c| %>
<div class="media">
	<a class="pull-left" href="#"> <% if c.main_profile_image.present? %>
	<%= image_tag(c.main_profile_image.medium_image, :class => "img-rounded image-resize120_100")%>
	<% else %>
	<%= image_tag("http://placehold.it/120x100&text=Logo+Here", :class => "img-rounded") %>
	<% end %> </a>
	<div class="media-body">
		<h3><%= c.business_name%></h3>
		<address>
			<%= c.business_address%>
			<br>
			<abbr title="<%= t(:phone)%>"><%= c.business_phone%></abbr>
		</address>
	</div>
</div>
<% end %>
