<h3 class="text-warning"><%= t(Style.page(@okpage))%></h3>
<div class="row-fluid">
<form class="form-inline" method="post" action="/business_clients/search" id="search-form" data-remote="true" accept-chaset="UTF-8">
<input name="key" type="text" class="ajax-typeahead" id="key" autocomplete="false">
<input type="submit" class="btn btn-primary" value="<%=t('search')%>">
<%= _script_document_ready(%Q|
	$('.ajax-typeahead').typeahead({
    source: function (query, process) {
        return $.get('/business_clients/query', { query: query }, function (data) {
            return process(data);
        });
    }});

|)%>
</form>
</div>
<div class="row-fluid" id="search_result">
</div>
<div class="row-fluid">
	<div class="span6">
	<%= render :partial => "okboards/#{Style.page(@okpage)}/left_pane" %>
	</div>
	<div class="span6">
	<%= render :partial => "okboards/#{Style.page(@okpage)}/right_pane" %>
	</div>
</div>
