<div class="tabbable tabs-right" id="r_business_category_tabs">
	<ul class="nav nav-tabs">
		<% @r_business_categories.each do |bc| %>
		<li>
			<a href="#business_category_<%= bc.id %>" data-toggle="tab"><%= bc.display_name %>&nbsp;(<%= bc.business_client.size%>)</a>
		</li>
		<% end %>
	</ul>
	<div class="tab-content">
		<% @r_business_categories.each do |bc| %>
		<div class="tab-pane" id="business_category_<%= bc.id%>">
			<%= render :partial => "okboards/#{Style.page(@okpage)}/client", :locals => { :business_clients => bc.business_client } %>
		</div>
		<% end %>
	</div>
</div>
<%= _script_document_ready(%Q|
$('#r_business_category_tab-tabs a').click(function (e) {
e.preventDefault();
$(this).tab('show');
});
$(function () {
$('#r_business_category_tabs a:first').tab('show');
});
|) %>

