<%= render :partial => "devise/shared/header" %>
<div id="_title">
	<div class="page-header">
		<h1> <%= t(Style.page(@okpage))%> </h1>
		<h3 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description".to_sym) %>
		</h3>
		<h4 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description1".to_sym) %>
		</h4>
		<p class="text-info">
			<%= t(:signup_instructions_for)%>
			</p>
	</div>
</div>
<%= image_tag("#{I18n.locale}/Signup/img_process02_on.gif")%>
<div id="signup">
	<div class="signup_form">
	<%= devise_error_messages! %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= f.label :email, t(:signin_email)%>
			<div class="input-prepend">
		<span class="add-on">@</span><%= f.email_field :email, :class => "input-large" %>
	</div>
		<%= f.label :user_name, t(:user_name)%>
		<%= f.text_field :user_name, :class => "" %>
		<%= f.label :password, t(:signin_password)%>
		<%= f.password_field :password, :class => "" %>
		<%= f.label :password_confirmation, t(:password_confirmation)%>
		<%= f.password_field :password_confirmation, :class => "" %>
	<div class="group">
		<%= image_submit_tag("#{I18n.locale}/Signup/registration.jpg") %>
	</div>
	<% end %>
	</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signup") %>

