<%= render :partial => "devise/shared/header" %>

<div id="_title">
<%= image_tag("#{I18n.locale}/Signup/tit_611.gif", :class => "title_text")%>
<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
<%= image_tag("#{I18n.locale}/Signup/img_process02_on.gif")%>
</div>

<div id="signup">
	<span class="stitle"><%= t("stitle_head")%></span>
	<span class="stitle_body"><%= t("stitle_body")%></span>
	<div class="signup_form">
	<%= devise_error_messages! %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f| %>
	<div class="group">
		<%= f.label :email, t(:signin_email), :class => "label left"   %>
		<%= f.email_field :email, :class => "text_field" %>
	</div>
	<div class="group">
		<%= f.label :user_name, t(:user_name), :class => "label left"   %>
		<%= f.text_field :user_name, :class => "text_field" %>
	</div>
	<div class="group">
		<%= f.label :password, t(:signin_password), :class => "label left"   %>
		<%= f.password_field :password, :class => "text_field" %>
	</div>
	<div class="group">
		<%= f.label :password_confirmation, t(:password_confirmation), :class => "label left"   %>
		<%= f.password_field :password_confirmation, :class => "text_field" %>
	</div>
	<div class="group">
		<%= image_submit_tag("#{I18n.locale}/Signup/registration.jpg", :class => "image_submit_ok") %>
	</div>
	<% end %>
	</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= _script_document_ready(%Q|$('#_signup').attr("style", "opacity:1;filter:alpha(opacity=100);");|) %>

