<div id="usermanagement">

	<div id="left-menu">
		<div id="menu">
			<%= image_tag("#{I18n.locale}/login/bg_snb.gif")%>
			<%= image_tag("#{I18n.locale}/login/stit_06.gif")%>
			<%= image_tag("#{I18n.locale}/login/bg_snb.gif")%>
			<div class="items">
				<div class="item" id="_signin">
					<p class="menu-item">
						<%= link_to t("signin"), new_user_session_path %>
					</p>
				</div>

				<div class="item"  id="_signup">
					<p class="menu-item">
						<%= link_to t("signup"), member_managements_sign_up_path %>
					</p>
				</div>

				<div class="item" id='_findid'>
					<p class="menu-item">
						<%= link_to t("forgot_your_password"), '#' %>
					</p>
				</div>

				<div class="item" id='_service'>
					<p class="menu-item">
						<%= link_to t("termsofservice"), termsofservice_path %>
					</p>
				</div>
				<div class="item" id='_personal'>
					<p class="menu-item">
						<%= link_to t("termsofpersonalinfo"), termsofpersonal_path %>
					</p>
				</div>

			</div>
			<div id="<%= Style.create_banner_div(:signin,:main_content,:left) %>">
				<%= image_tag("http://placehold.it/200x150")%>
				<%= image_tag("http://placehold.it/200x150")%>
				<%= image_tag("http://placehold.it/200x150")%>
			</div>
		</div>
		<div id="main">
