<%= render :partial => "devise/shared/header" %>

<div id="_title">
	<div class="page-header">
		<h1> <%= t(:Signup)%> </h1>
		<h3 class="text-info">
			<%= t("Signup_okpage_top_description".to_sym) %>
		</h3>
	</div>
</div>
<%= image_tag("#{I18n.locale}/Signup/img_process03_on.gif")%>

<%= show_notice %>
<%= show_alert %>

<div id="_main">

<div class="after_confirmation_banner">
	<%= single_body_banner(6) %>
</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signup") %>

