<%= render :partial => "devise/shared/header" %>

<div id="_title">
<%= image_tag("#{I18n.locale}/Signup/tit_611.gif", :class => "title_text")%>
<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
<%= image_tag("#{I18n.locale}/Signup/img_process03_on.gif")%>
</div>

<div class="flash">
	<% if notice %>
	<p class="message notice">
		<%= notice %>
	</p>
	<% end %>
	<% if alert %>
	<p class="message alert">
		<%= alert %>
	</p>
	<% end %>
</div>
<div id="_main">
<div class="after_confirmation_logo">	
<%= link_to(image_tag("common/logo_w.gif"), root_path)%>
</div>
<div class="after_confirmation_banner">
	<%= single_body_banner(6) %>
</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= _script_document_ready(%Q|$('#_signup').attr("style", "opacity:1;filter:alpha(opacity=100);");|) %>

