<%= render :partial => "devise/shared/header" %>

<div id="_title">
<%= image_tag("#{I18n.locale}/Signup/tit_641.gif", :class => "title_text")%>
<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
</div>
<div id="_main">
	</br>
	<p class="lead">
		<%= t("termofpersonalinfomation")%>
	</p>
	<textarea name="" rows="30" style="width:100%" readonly><%= UsersHelper.termofpersonalinfomation%>
      </textarea>	                           
</div>
<br/>
<%= link_to(image_tag("#{I18n.locale}/common/btn_top.gif"), "#_main")%>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_termsofpersonalinfo") %>
