<%= render :partial => "devise/shared/header" %>

<div id="_title">
	<div class="page-header">
		<h1> <%= t(:forgot_your_password)%> </h1>
		<p>
			<%= t("#{Style.page(@okpage)}_okpage_top_description".to_sym) %>
		</p>
	</div>
</div>

<%= show_notice %>
<%= show_alert %>

<div id="_main">
	<%= image_tag("#{I18n.locale}/common/img_sendmail_ok.gif")%>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signin") %>

