<%= render :partial => "devise/shared/header" %>

<div id="_title">
	<div class="hero-unit">
		<h1>OKBRISBANE</h1>
		<p>
			<%= t("#{Style.page(@okpage)}_okpage_top_description".to_sym) %>
		</p>
	</div>
</div>

<%= show_notice %>
<%= show_alert %>

<%= single_body_banner(6) %>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signin") %>
