<%= render :partial => "devise/shared/header" %>

<div id="_title">
<%= image_tag("#{I18n.locale}/Signup/tit_611.gif", :class => "title_text")%>
<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
</div>
<div id="_main">
	<span class="stitle"><%= t("stitle_head")%></span>
	<span class="stitle_body"><%= t("stitle_body")%></span>
	<div class="signup_form">
	<p class="termofservice">
		<%= t("termofservice")%>
	</p>
	<textarea name="" cols="100" rows="13" class="textarea" readonly style="background: #ffffff"><%= UsersHelper.termsofservice%>
      </textarea>			                           
      </br>
	<p class="termofservice">
		<%= t("termofpersonalinfomation")%>
	</p>
	<textarea name="" cols="100" rows="13" class="textarea" readonly style="background: #ffffff"><%= UsersHelper.termofpersonalinfomation%>
      </textarea>
	<p class="agree">
		<%= check_box_tag :_agree %><%= label_tag :_agree, t("agree")  %>
	</p>
	<%= form_for(@member_management) do |f| %>
	<div class="actions">
		<%= f.submit t("agreed"), :id => '_next', :class => "button-link_ok"%>
	</div>
	<% end %>
	</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= _script_document_ready(%Q|$('#_signup').attr("style", "opacity:1;filter:alpha(opacity=100);");
	$('#_next').click(function() {if ($('#_agree').attr('checked')) {} else {return false;}});|) %>

