<%= render :partial => "devise/shared/header" %>
<div id="_title">
	<div class="page-header">
		<h1> <%= t(Style.page(@okpage))%> </h1>
		<h3 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description".to_sym) %>
		</h3>
		<hh4 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description1".to_sym) %>
		</h4>
	</div>
</div>
<%= image_tag("#{I18n.locale}/Signup/img_process01_on.gif")%>
<div id="_main">
	<div class="signup_form">
	<p class="termofservice">
		<%= t("termofservice")%>
	</p>
	<textarea name="" rows="13" style="width:100%" readonly><%= UsersHelper.termsofservice%>
      </textarea>			                           
      </br>
	<p class="termofservice">
		<%= t("termofpersonalinfomation")%>
	</p>
	<textarea name="" rows="13" style="width:100%" readonly><%= UsersHelper.termofpersonalinfomation%>
      </textarea>
	<p class="agree">
		<%= check_box_tag :_agree %><%= label_tag :_agree, t("agree")  %>
	</p>
	<%= form_for(@member_management) do |f| %>
	<div class="actions">
		<%= image_submit_tag("#{I18n.locale}/Signup/agreement.jpg", :class => "image_submit_ok") %>
	</div>
	<% end %>
	</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signup") %>
<%= _script_document_ready(%Q|$('#_next').click(function() {if ($('#_agree').attr('checked')) {} else {return false;}});|) %>

