<%= render :partial => "devise/shared/header" %>

<div id="_title">
<%= image_tag("#{I18n.locale}/Signup/tit_611.gif", :class => "title_text")%>
<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
</div>
<div id="_main">
        </br>
        <p class="termofservice">
          <%= t("termofservice")%>
        </p>
        <textarea name="" cols="100" rows="40" class="textarea" readonly style="background: #ffffff"><%= UsersHelper.termsofservice%>
      </textarea>                           
      </br>

  </div>
<%= render :partial => "devise/shared/footer" %>
<%= _script_document_ready(%Q|$('#_termsofservice').attr("style", "opacity:1;filter:alpha(opacity=100);");|) %>

