<div class="rate_information_window_control">
<%= link_to(image_tag("#{I18n.locale}/common/btn_close.gif"), "#", :id => "rate_close", :style => "float:right")%>
</div>
<br/>
<p class="title">
	<%= t(:rate_information_for) %> <%= @dateOn %>
</p>
<table class="table table-hover table-striped">
	<thead class="">
		<tr>
			<th class="small"></th>
			<th class="small"><%= t(:rate_sell)%></th>
			<th class="small"><%= t(:rate_buy)%></th>
			</tr>
	</thead>
	<tbody class="">
		<% if !@rates.present? %>
		<tr><td colspan="3"><%= t(:no_information) %>
		</td></tr>
		<% else %>
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= number_to_currency(@rates[5].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_a, :locale => :ko)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= number_to_currency(@rates[1].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_a, :locale => :ko)%></td>
		</tr>
		<% end %>
	</tbody>
</table>
<p class="title">
	<%= t(:send_information_for) %> <%= @dateOn %>
</p>
<table class="table table-hover table-striped">
	<thead class="">
		<tr>
			<th class="small"></th>
			<th class="small"><%= t(:rate_send)%></th>
			<th class="small"><%= t(:rate_recv)%></th>
			</tr>
	</thead>
	<tbody class="">
		<% if !@rates.present? %>
		<tr><td colspan="3"><%= t(:no_information) %>
		</td></tr>
		<% else %>
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= number_to_currency(@rates[5].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_b, :locale => :ko)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= number_to_currency(@rates[1].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_b, :locale => :ko)%></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= _script(%Q|
	$("\#rate_close").click(function() {
	$("#rate_information_box").hide("slow");
	return false;
	});
|)%>