<p class="lead text-info">
	<%= t(:mypost)%>
<p>
<table id="mypost_table" class="table table-hover table-striped">
	<thead class="">
		<tr>
			<th><%= t(:page) %></th>
			<th><%= t(:category) %></th>
			<th><%= t(:subject) %></th>
			<th><%= t(:created_at) %></th>
			<th><%= t(:valid_until) %></th>
			<th><%= t(:image) %></th>
			<th><%= t(:attachment) %></th>
			<th><%= t(:comment) %></th>
			<!--
			<th><%= t(:comment_email) %></th>
			-->
		</tr>
	</thead>
	<tbody class="">
		<% @job_post.each do |post|%>
		<%= mypage_list(post) %>
		<% end %>
		<% @buy_and_sell_post.each do |post|%>
		<%= mypage_list(post) %>
		<% end %>
		<% @well_being_post.each do |post|%>
		<%= mypage_list(post) %>
		<% end %>
	</tbody>
</table>

