<%= render :partial => "devise/shared/header" %>

<%= show_notice %>
<%= show_alert %>

<%= single_body_banner(6) %>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signin") %>
