<%= render :partial => "devise/shared/header" %>
<div id="_title">
	<div class="page-header">
		<h1> <%= t(Style.page(@okpage))%> </h1>
		<h3 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description".to_sym) %>
		</h3>
		<hh4 class="text-info">
			<%= t("#{Style.page(@okpage)}_okpage_top_description1".to_sym) %>
		</h4>
	</div>
</div>
<%= image_tag("#{I18n.locale}/Signup/img_process01_on.gif")%>
<div id="_main">
	<div class="signup_form">
	<h4 class="text-info">
		<%= t("termofservice")%>
	</h4>
	<div style="width:100%;height:500px;overflow:auto;">
	<blockquote>
		<%= raw(UsersHelper.termsofservice) %>
	</blockquote>
	</div>
	<br>
	<h4 class="text-info">
		<%= t("termofpersonalinfomation")%>
	</h4>
	<div style="width:100%;height:500px;overflow:auto;">
	<blockquote>
		<%= raw(UsersHelper.termofpersonalinfomation) %>
	</blockquote>
	</div>
	<br>
    <label class="checkbox" >
    	<input type="checkbox" value="" id="_agree"><%= t(:agree) %>
    </label>
    <div class="unchecked" style="display:none">
    	<div class="alert alert-info"><h4><%=t(:agree_is_required)%></h4></div>
    </div>
	<%= form_for(@users_member_management, :url => users_member_managements_path) do |f| %>
	<div class="actions">
		<%= image_submit_tag("#{I18n.locale}/Signup/agreement.jpg", :class => "", :id => "_next") %>
	</div>
	<% end %>
	</div>
</div>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signup") %>
<%= _script_document_ready(%Q|$('#_next').click(function() {if ($('#_agree').attr('checked')) {} else {$('div.unchecked').show('slow');return false;}});|) %>

