<div style="position: relative; float: left; width: 100%" id="board_for_<%=@okpage%>">
<p class="okboard_title"><%= t('p_estate')%></p>
	<% @board_image_lists.each do |feed| %>
		<div class="okboard_thumbnail">
		<div class="shadow">
		<%= image_tag(feed.feeded_to.image.first.avatar.url(:medium), :size => Okvalue::OKBOARD_IMAGE_SIZE) %>
		<span>
			<section>
			<%= image_tag(feed.feeded_to.image.first.avatar.url(:medium)) %>
			<p class="description"><%=feed.feeded_to.subject%></p>
			</section>
			</span>
		</div>
		<p class="price_tag">$<%=feed.feeded_to.price%></p>
		
		</div>
	<% end %>
</div>
<div id="board_for_motor_vehicle"></div>

<div id="board_list_for_#{@okpage}">
	
</div>
