<div data-role="page" data-theme="c">
	
	<div data-role="header">
		<h1> <%= t(:termsofservice)%> </h1>
		<p>
			<%= t("Signin_okpage_top_description") %>
		</p>
		<%=_mobile_link_to_with_icon(t("to_home"),s_root_path,"button","","","icon-home",[])%>
	</div>
	<div data-role="content">
		<%= t(:termofservice)%>
		<div style="width:100%;overflow:auto;">
		<%= raw(UsersHelper.termsofservice) %>
	</div>
		</div>
		<div data-role="footer" >
			<%=_mobile_link_to_with_icon(t("to_home"),s_root_path,"button","","","icon-home",[])%>
			</div>
</div>


