<div class="row-fluid">
	<% if @images.present? %>	
	<ul class="thumbnails">
		<% @images.each do |feed| %>
			<div class="span2 thumbnail hot-feed-image">
				<% image = feed.hot_feeded_to %>
				<a data-original-title="<%=image.author%>" id="popover_<%=image.id%>" href="<%=Okboard.okboard_link_with_id(Style.m2s(image.attached_type), image.attached_id)%>" class="" data-placement="bottom"  rel="popover" data-content="<%=image.attached.subject%>">
					<%= image_tag(image.thumb_image)%></a>
          		<%= _script_document_ready(%Q|
          			$('\#popover_#{feed.hot_feeded_to.id}').popover({trigger:'hover'});
          		|)%>
			</div>
		<% end %>
	</ul>
	<% else %>
	<p><%=t("no_information")%></p>
	<% end %>
</div>
