
<div class="row-fluid">
<p class="title"><%=t(:rate_information)%>&nbsp;<%= @dateOn %>
<span class="muted pull-right"><small><%=t(:data_from)%>&nbsp;<%=link_to(t(:keb),"http://www.keb.co.kr/")%></small></span></p>
<table class="table white_box rate_table bs">
	<thead class="">
		<tr>
			<th class="small"><%= t(:rate_information_for) %></th>
			<th class="small"><%= t(:rate_sell)%></th>
			<th class="small"><%= t(:rate_buy)%></th>
			<th class="small"><%= t(:rate_avg)%></th>
			</tr>
	</thead>
	<tbody class="">
		<% if !@rates.present? %>
		<tr><td colspan="3"><%= t(:no_information) %>
		</td></tr>
		<% else %>
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= number_to_currency(@rates[5].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_c, :locale => :ko)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= number_to_currency(@rates[1].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_a, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_c, :locale => :ko)%></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="row-fluid">
<table class="table white_box rate_table bs">
	<thead class="">
		<tr>
			<th class="small"><%=t(:send_information_for)%></th>
			<th class="small"><%= t(:rate_send)%></th>
			<th class="small"><%= t(:rate_recv)%></th>
			<th class="small"><%= t(:rate_avg)%></th>
			</tr>
	</thead>
	<tbody class="">
		<% if !@rates.present? %>
		<tr><td colspan="3"><%= t(:no_information) %>
		</td></tr>
		<% else %>
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= number_to_currency(@rates[5].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[4].rate_c, :locale => :ko)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= number_to_currency(@rates[1].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_b, :locale => :ko)%></td>
			<td><%= number_to_currency(@rates[0].rate_c, :locale => :ko)%></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="row-fluid">
<div class="span12" id="rate_information_box" style="display:none">
<div class="_rate_information_status" style="display:none"><%= image_tag("common/ajax_loading.gif")%></div>
</div>
</div>

<%= _script(%Q|

$("\#ex_rate").click(function() {
	if ($("#rate_information_box").is(":hidden")) {
		$("#rate_information_box").show("slow");
		$("#weather_au_information_box").hide("slow");
		$("#weather_kr_information_box").hide("slow");
		$('div._rate_information_status').css("display","block");
	    $.post("/homes/current_rate?locale=#{I18n.locale}");
	}
	else {
		$("#rate_information_box").hide("slow");
	}
	return false;
});
|)%> 
</div>
