<div id="home">
	<%= single_banner(:home, :body, 1) %>
<!-- 			<div class='description'>
				<p class='description_content'>
				</p>
			</div>
			<a class='abutton' href='#'>More</a> -->
<!-- 			<%= link_to("<", "#", :id => "featured") %> -->
			<div style="margin-left: 10px">
			</div>
<!-- 			<%= link_to(">", "#", :id => "featured") %> -->
	<%= single_banner(:home, :body, 2) %>	
	<!-- <div class='description' id='top-right-banner-description'>
				<p class='description_content'>
					Call us now!
				</p>
			</div> -->
	<%= generateTopFeed("p_job", @job_feed_lists, "#642c78") %>
	<%= multi_banner(:home, :body, 3, 650, 130) %>
	<%= multi_banner(:home, :body, 4, 650, 130) %>
	<%= multi_banner(:home, :body, 5, 650, 130) %>	
<!-- 	<div id="_exrate">
		<iframe src="http://community.fxkeb.com/fxportal/jsp/RS/DEPLOY_EXRATE/12776_0.html" border="0" marginwidth="0" frameborder="no" height="300" scrolling="no" width="300"></iframe>
	</div> -->
	<%= generateTopFeed("p_buy_and_sell", @buy_and_sell_feed_lists, "#642c78") %>
	<div id="second_section">
		<div id="section_bar"></div>
		<div id="section_bar"></div>
		<div id="section_bar"></div>
		<%= generateTopFeed("p_estate", @estate_lists, "#41A317") %>
	</div>
</div>
<br />

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#home-top-banners').cycle({
			fx : 'fade',
			speed : 1000,
			timeout : 3000
		});
	}); 

</script>