<div id="home">
	<div id="first_section">
		<div id="first_section_left">
			<%= single_body_banner(1) %>
			<%= multi_body_banner(3) %>
			<%= multi_body_banner(4) %>
			<%= multi_body_banner(5) %>	
		</div>
			<div id="first_section_right">
				<%= single_body_banner(2) %>	
				<%= generateTopFeed(Style::PAGES[:p_job], @job_feed_lists, nil, :ok) %>
				<%= generateTopFeed(Style::PAGES[:p_buy_and_sell], @buy_and_sell_feed_lists, nil, :ok) %>
			</div>
	</div>
	<div id="second_section">
		<div id="section_left"><div id="second_section_bar"></div><%= generateTopFeed(Style::PAGES[:p_estate], @estate_lists, @estate_image_lists, :naver) %></div>
		<div id="section_center"><div id="second_section_bar"></div><%= generateTopFeed(Style::PAGES[:p_business], @business_lists, @business_image_lists, :naver) %></div>
		<div id="section_right"><div id="second_section_bar"></div><%= generateTopFeed(Style::PAGES[:p_motor_vehicle], @motor_vehicle_lists, @motor_vehicle_image_lists, :naver) %></div>
	</div>
	<div id="third_section">
		<div id="third_section_bar"></div>
		<div id="thrid_section_left">
			<%= generateTopFeed(Style::PAGES[:p_accommodation], @accommodation_lists, @accommodation_image_lists, :blue) %>
			<%= generateTopFeed(Style::PAGES[:p_law], @legal_service_lists, nil, :blue) %>
			<%= generateTopFeed(Style::PAGES[:p_study], @study_lists, nil, :blue) %>
			</div>
		<div id="thrid_section_right"><%= multi_body_banner(6) %><%= multi_body_banner(7) %><%= multi_body_banner(8) %><%= multi_body_banner(9) %></div>
	</div>
</div>