<div id="home">
	<%= single_banner(:home, :main_content, :north_west) %>
<!-- 			<div class='description'>
				<p class='description_content'>
				</p>
			</div>
			<a class='abutton' href='#'>More</a> -->
<!-- 			<%= link_to("<", "#", :id => "featured") %> -->
			<div style="margin-left: 10px">
			</div>
<!-- 			<%= link_to(">", "#", :id => "featured") %> -->
	<%= single_banner(:home, :main_content, :north_east) %>	
	<!-- <div class='description' id='top-right-banner-description'>
				<p class='description_content'>
					Call us now!
				</p>
			</div> -->
	<%= generateTopFeed("job", @job_feed_lists) %>
	<%= multi_banner(:home, :secondary_content, :north_west, 650, 130) %>
	<%= multi_banner(:home, :secondary_content, :west, 650, 130) %>	
	<div id="_exrate">
		<iframe src="http://community.fxkeb.com/fxportal/jsp/RS/DEPLOY_EXRATE/12776_0.html" border="0" marginwidth="0" frameborder="no" height="300" scrolling="no" width="300"></iframe>
	</div>
	<%= generateTopFeed("buyandsell", @buy_and_sell_feed_lists) %>
</div>
<br />

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#home-top-banners').cycle({
			fx : 'fade',
			speed : 1000,
			timeout : 3000
		});
	}); 

</script>