<div class="row-fluid">
	<div class="row-fluid">
		<% if socialable? %>
		<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="ko">@twitter 팔로우하기</a>
		<script>
			! function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = "//platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");
		</script>
		<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="true" data-width="450" data-show-faces="true" data-action="recommend"></div>
		<% end %>
	</div>
	<div class="row-fluid">
	<div class="span8">
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid">
					<%= top_feed_div(:p_buy_and_sell) %>
				</div>

			</div>
			<div class="span6">
				<%= top_feed_div(:p_job) %>
				<!--%= multi_body_banner(3, 300) %-->
			</div>
		</div>
		<div class="row-fluid">
			<%= single_body_banner(1) %>
			<%= _scroll_banner_show("home_multi_body_scroll_banner_4", multi_body_banner(4), Okvalue::HOME_BODY_BANNER_4_SHOW_SIZE)%>
			<%= _scroll_banner_show("home_multi_body_scroll_banner_5", multi_body_banner(5), Okvalue::HOME_BODY_BANNER_5_SHOW_SIZE)%>
			<%= _scroll_banner_show("home_multi_body_scroll_banner_11", multi_body_banner(11), Okvalue::HOME_BODY_BANNER_11_SHOW_SIZE)%>
		</div>
	</div>
	<div class="span4">
		<%= single_body_banner(2) %>
		<%= render :partial => "homes/ok_information" %>

		<%= render :partial => "homes/quick_links" %>
		<%= render :partial => "homes/weather_information" %>

		<%= top_feed_div(:p_well_being) %>
	</div>
	</div>
</div>
<div class="row-fluid">
	<div class="row-fluid">
		<div id="third_section_bar"></div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<div class="box_round box_gradient"></div>
			<%= top_feed_div(:p_estate) %>
		</div>
		<div class="span4">
			<div class="box_round box_gradient"></div>
			<%= top_feed_div(:p_business) %>
		</div>
		<div class="span4">
			<div class="box_round box_gradient"></div>
			<%= top_feed_div(:p_motor_vehicle) %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="row-fluid">
		<div id="third_section_bar"></div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<%= top_feed_div(:p_accommodation) %>
			<%= top_feed_div(:p_law) %>
			<%= top_feed_div(:p_study) %>
		</div>
		<div class="span8">
			<%= multi_body_banner(6, 1700) %>
			<%= multi_body_banner(7,1850) %>
			<%= multi_body_banner(8, 2000) %>
			<%= multi_body_banner(9, 2150) %>
			<%= multi_body_banner(10, 2300) %>
		</div>
	</div>
	<% if socialable? %>
	<div class="row-fluid">
		<div class="fb-comments" data-href="http://www.okbrisbane.com" data-num-posts="10" data-width="600"></div>
	</div>
	<% end %>
	<%= render :partial => "homes/scroll" %>
</div>
