<%= render :partial => "devise/shared/header" %>
<div id="_title">
	<%= image_tag("#{I18n.locale}/Signup/tit_651.gif", :class => "title_text")%>
	<%= image_tag("#{I18n.locale}/Signup/title.jpg")%>
</div>
<div class="flash">
	<% if notice %>
	<p class="message notice">
		<%= notice %>
	</p>
	<% end %>
	<% if alert %>
	<p class="message alert">
		<%= alert %>
	</p>
	<% end %>
</div>
<div id="signin">
	<p class="termofservice">
		<%= t(:signin_instructions_for)%>
	</p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form" }) do |f| %>
	<div class="group">
		<%= f.label :email, t(:signin_email), :class => "label" %>
		<%= f.email_field :email, :class => "text_field" %>
	</div>
	<div class="group">
		<%= f.label :password, "#{t(:signin_password)}", :class => "label left" %>
		<%= f.password_field :password, :class => "text_field" %>
	</div>
	<div class="group">
		<% if devise_mapping.rememberable? -%>
		<%= f.check_box :remember_me%> <%= f.label :remember_me, "#{t(:remember_me)}"  %>
	</div>
	<% end -%>
	<div class="group">
		<%= f.submit t(:signin), :class => "button-link_ok" %>
	</div>
	<% end %>
</div>


<%= single_body_banner(6) %>
<%= render :partial => "devise/shared/footer" %>
<%= active_menu("_signin") %>
