<%= render :partial => "devise/shared/header" %>
<%= image_tag("common/logo_w.gif")%>
<div class="flash">
	<% if notice %>
	<p class="message notice">
		<%= notice %>
	</p>
	<% end %>
	<% if alert %>
	<p class="message alert">
		<%= alert %>
	</p>
	<% end %>
</div>
<div id="signin">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= f.label :email, "#{t(:signin_email)}" %>
	</br>
	<%= f.email_field :email %>
	</br>
	<%= f.label :password, "#{t(:signin_password)}" %>
	</br>
	<%= f.password_field :password %>
	</br>
	<% if devise_mapping.rememberable? -%>
	<%= f.check_box :remember_me%> <%= f.label :remember_me, "#{t(:remember_me)}"  %>
	<% end -%>
	</br>
	</br>
	<%= f.submit t("signin") , :class => "ui-button" %>
	<% end %>
</div>
<%= single_body_banner(6) %>
<%= render :partial => "devise/shared/footer" %>
<%= _script_document_ready(%Q|$('#_signin').attr("style", "opacity:1;filter:alpha(opacity=100);");|) %>
