<div style="position: relative; float: left; width: 750px;" id="okboard_for_<%= @okpage %>">
	<div class="okboard_top">
		<p class="okboard_title">
			<%= t(Style.page(@okpage))%>
		</p>
		<div class="okboard_title_image">
			<%= image_tag("#{I18n.locale}/#{Style.page(@okpage)}/logo.gif", :size => "750x100") %>
		</div>
	</div>
	<div class="okboard_image_list">
	<% if !@board_image_lists.nil? %>
	<div id="okboard_image_list_for_<%= @okpage %>">
		<% @board_image_lists.each do |post| %>
		<div class="okboard_thumbnail">
			<% if post.image.first.linkable? %>
			<%= link_to(image_tag(post.image.first.medium_image, :size => Okvalue::OKBOARD_IMAGE_SIZE),  post.image.first.link)%>
			<% else %>
			<%= image_tag(post.image.first.medium_image, :size => Okvalue::OKBOARD_IMAGE_SIZE) %>
			<% end %>
			<p class="description">
				<%= post.subject%>
			</p>
			<p class="price_tag">
				<%= post.price %>
			</p>
			<%= link_to(t("view"), _okboard_link_with_id(@okpage, post.id), :class => 'button-link_naver image_view') %>
		</div>
		<% end %>
	</div>
	<% end %>
	</div>
	<% if [:p_estate,:p_motor_vehicle,:p_business,:p_accommodation,:p_law,:p_tax,:p_study,:p_immig].include?(@okpage) %>
	<div id="okboard_sponsor_links" style="position: relative; float: left; width: 100%">
		<%= single_body_banner(6) %>
		<%= single_body_banner(7) %>
		<%= single_body_banner(8) %>
	</div>
	<% end %>

	<% if ![:p_mypage, :p_yellowpage].include?(@okpage) %>
	<%= render :partial => "okboards/shared/filter" %>
	<% end %>
	<%= javascript_include_tag 'jquery.dataTables.min.js' %>
	<div id="okboard_list_for_<%= @okpage %>" style="position: relative; float: left; width: 100%">
		<%= hidden_field_tag :lastid, @lastid, :id => "_lastid" %>
		<div id="okboard_list">
			<%= build_board_list %>
			<div id="okboard_list_body_more_loading">
				<%= image_tag ("common/ajax_loading.gif")%>
			</div>
			<div class="more">
				<%= link_to(t("more"), "#", :remote => true, :method => :post, :id => "_more", :class => "button-link_ok") %>
				<% if [:p_job,:p_buy_and_sell,:p_well_being].include?(@okpage) %>
				<%= link_to(t('write_new'), _okboard_link_write(@okpage), :class => 'button-link_naver')%>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= _script_document_ready(%Q|
$('\#_lastid').val("#{@lastid}");
$('\#_more').click(function() {$('\#okboard_list_body_more_loading').css("display", "block");
$.post("| + more_okboards_path + %Q|", {v: '| + _okpage_v(@okpage) + %Q|', lastid: $('\#_lastid').val()}); return false;
})|) %>
<% if !@board_lists.empty? %>
<%= _script_document_ready(%Q|
$('\#okboard_table').dataTable({"bFilter": false,"bInfo": false,"bPaginate": false,"bJQueryUI": true});
|) %>
<% end %>
