<div style="position: relative; float: left; width: 750px;" id="board_for_<%= @okpage %>">
	<p class="okboard_title">
		<%= t(@okpage.to_s)%>
	</p>
	<% if !@board_image_lists.nil? %>
	<div id="okboard_for_<%= @okpage %>">
		<% @board_image_lists.each do |post| %>
		<div class="okboard_thumbnail">
			<%= image_tag(post.image.first.avatar.url(:medium), :size => Okvalue::OKBOARD_IMAGE_SIZE) %>
			<p class="description">
				<%= post.subject%>
			</p>
			<p class="price_tag">
				<%= number_to_currency(post.price, :locale => 'en') %>
				<% if @okpage.to_s.eql? Style::PAGES[:p_motor_vehicle] %>
				<br/>
				<%= t("drive_away") %>
				<% end %>
				<div class="okboard_thumbnail_view">
					<%= t('view') %><%= section_span(post) %>
				</div>
			</p>
		</div>
		<% end %>
	</div>
	<% end %>
	<% if [:p_estate,:p_motor_vehicle,:p_business,:p_accommodation].include?(@okpage) %>
	<div id="okboard_sponsor_links" style="position: relative; float: left; width: 100%">
		<%= single_body_banner(6) %>
		<%= single_body_banner(7) %>
		<%= single_body_banner(8) %>
	</div>
	<% end %>
	<p style="float:right; margin-right:10px;"><%= link_to(t('write_new'), _okboard_link_write(@okpage), :class => 'button-link')%></p>
	<div id="okboard_list_for_<%= @okpage %>" style="position: relative; float: left; width: 100%">
		<div id="okboard_filter">
			<div class="item">
				<%= label_tag :category, t("category"), :class => "label left" %>&nbsp;
				<%= select_tag :category, options_for_select(@post.category_list, 0) %>
			</div>
			<div class="item">
				<%= label_tag :from_price, t("price"), :class => "label left" %>&nbsp;
				<%= search_field_tag :from_price %>
			</div>
			<div class="item">
				<%= label_tag :to_price, t("price"), :class => "label left" %>&nbsp;
				<%= search_field_tag :to_price %>
			</div>
			<div class="item">
				<%= label_tag :from, t("from"), :class => "label left" %>&nbsp;
				<%= date_select :from, "", :start_year => 2012%>
			</div>
			<div class="item">
				<%= label_tag :to, t("to"), :class => "label left" %>&nbsp;
				<%= date_select :to, "", :start_year => 2012%>
			</div>
			<%= image_tag("#{I18n.locale}/common/org_search.gif") %>
		</div>
		<%= hidden_field_tag :lastid, @lastid, :id => "_lastid" %>
		<div id="okboard_list">
			<% if [:p_estate,:p_motor_vehicle,:p_business,:p_accommodation].include?(@okpage)%>
			<%= build_board_list(true,true) %>
			<% else %>
			<%= build_board_list(true,false) %>
			<% end %>
			<div id="okboard_list_body_more_loading">
				<%= image_tag ("common/ajax_loading.gif")%>
			</div>
			<div class="more">
				<%= link_to(t("more"), "#", :remote => true, :method => :post, :id => "_more", :class => "button-link") %>
			</div>
		</div>
	</div>
</div>
<%= _script_document_ready(%Q|$('\#_lastid').val("#{@lastid}");$('\#_more').click(function() {$('\#okboard_list_body_more_loading').css("display", "block");
$.post("| + more_okboards_path + %Q|", {v: '| + _okpage_v(@okpage) + %Q|', lastid: $('\#_lastid').val()}); return false;
})|) %>
