<div class="" id="okboard_filter">
	<%= form_for(@post_search, :html => {:class => "form-search"}) do |f| %>
	<%= f.hidden_field :okpage %>
		<span class="label label-info"><%= f.label :category, t(:category)%></span>
		<%= f.select(:category, options_for_select(@post.category_list, @post_search.category), {:include_blank => true}, {:class => "span2", :multiple => false}) %>
		<span class="label label-info"><%= f.label :image, "#{t(:image)}"%></span>
		<%= f.select(:image, options_for_select(@post.yesno_list, @post_search.image), {:include_blank => true}, {:class => "span2", :multiple => false}) %>
		<span class="label label-info"><%= f.label :attachment, "#{t(:attachment)}"%></span>
		<%= f.select(:attachment, options_for_select(@post.yesno_list, @post_search.attachment), {:include_blank => true}, {:class => "span2", :multiple => false}) %>
		<br/>
		<span class="label label-success"><%= f.label :time_by, "#{t(:select_date)}"%></span>
		<%= f.select(:time_by, options_for_select(@post_search.time_by_list, @post_search.time_by), {:include_blank => true}, {:class => "span2", :multiple => true}) %>
		<span class="label label-inverse"><%= f.label :keyword, "#{t(:search_keyword)}"%></span>
		<%= f.search_field :keyword, :class => "input-medium search-query" %>
		<%= f.submit t("search"), :class => "btn btn-primary" %>
	<% end %>
</div>
