<div id="okboard_filter">
	<div class="item">
		<%= label_tag :category, t("category"), :class => "label left" %>&nbsp;
		<%= select_tag :category, options_for_select(@post.category_list, 0) %>
	</div>
	<div class="item">
		<%= label_tag :from_price, t("price"), :class => "label left" %>&nbsp;
		<%= search_field_tag :from_price %>
	</div>
	<div class="item">
		<%= label_tag :to_price, t("price"), :class => "label left" %>&nbsp;
		<%= search_field_tag :to_price %>
	</div>
	<div class="item">
		<%= label_tag :days_ago, t("days_ago"), :class => "label left" %>&nbsp;
		<%= select_tag :days_ago, options_for_select(Okvalue::DAYS_OPTIONS, 0) %>
	</div>
	<div class="item">
		<%= link_to t("week_ago"), "#", :class => "button-link_blue"%>
	</div>
	<div class="item">
		<%= link_to t("weeks2_ago"), "#", :class => "button-link_blue"%>
	</div>
	<div class="item">
		<%= link_to t("weeks3_ago"), "#", :class => "button-link_blue"%>
	</div>

	<%= image_tag("#{I18n.locale}/common/org_search.gif") %>
</div>
