<div class="okboard_filter">
	<%= form_for(@post_search, :html => { :class => "form" }) do |f| %>
	<%= f.hidden_field :okpage %>
	<div class="itemgroup">
	<div class="item">
		<%= f.label :category, t(:category), :class => "label left" %>&nbsp;
		<%= f.select :category, options_for_select(@post.category_list, @post_search.category), :include_blank => true %>
	</div>
	<div class="item">
		<%= f.label :keyword, "#{t(:search_keyword)}", :class => "label left" %>&nbsp;
		<%= f.search_field :keyword %>
	</div>
	<div class="item">
		<%= f.label :image, "#{t(:image)}", :class => "label left" %>&nbsp;
		<%= f.select :image, options_for_select(@post.yesno_list, @post_search.image), :include_blank => true %>
	</div>
	<div class="item">
		<%= f.label :attachment, "#{t(:attachment)}", :class => "label left" %>&nbsp;
		<%= f.select :attachment, options_for_select(@post.yesno_list, @post_search.attachment), :include_blank => true %>
	</div>
	</div>
	<br/>
	<div class="itemgroup">
	<% 1.upto(6) { |d| %>
	<div class="item">
		<%= f.label :time_by, "#{d} #{t(:day_ago)}", :class => "label left" %>&nbsp;
		<%= f.radio_button :time_by, PostSearch::SearchCond["time_by_day_#{d}".to_sym] %>
	</div>
	<% } %>
	<% 1.upto(4) { |w| %>
	<div class="item">
		<%= f.label :time_by, "#{w} #{t(:week_ago)}", :class => "label left" %>&nbsp;
		<%= f.radio_button :time_by, PostSearch::SearchCond["time_by_week_#{w}".to_sym] %>
	</div>
	<% } %>
	</div>
	<div class="group search">
	<%= image_submit_tag "#{I18n.locale}/common/search.png", :class => "po image_submit_ok" %>
	</div>
	<% end %>
</div>
