<% if !@post.image.empty? %>
<%= image_tag("#{I18n.locale}/common/title_dt_detail_photos.gif") %>
<div class="okboard_image_gallery">
	<div class="something" id="something">
		<%= @post.image.first.something %>
	</div>
	<div class="bigPicture">
		<%= image_tag(@post.image.first.original_image, :id => "proimg")  %>
	</div>
	<div class="thumbBox">
		<div id="slideshow">
			<% if @post.image.size > 5 %>
			<div class="fl">
				<%= image_tag("common/btn_img_left.gif", :id => "leftControl", :class => "control po") %>
			</div>
			<% end %>

			<div id="slidesContainer" class="fl">

				<div class="slide">
					<% @post.image.each_with_index do |image,i| %>
					<div class="fl thumb">
						<%= image_tag(image.thumb_image, :class => "po", :size => "115x100", :onclick => "$('#proimg').attr('src',\"#{image.original_image}\");$('#something').text(\"#{image.something}\");") %>
					</div>
					<% if i%5==4 && i>0  %>
				</div>
				<div class="slide">
					<% end %>
					<% end %>
				</div>

			</div>

			<% if @post.image.size > 5 %>
			<div class="fl">
				<%= image_tag("common/btn_img_right.gif", :id => "rightControl", :class => "control po") %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var currentPosition = 0;
		var slideWidth = 650;
		var slides = $('.slide');
		var numberOfSlides = slides.length;

		// Remove scrollbar in JS
		$('#slidesContainer').css('overflow', 'hidden');

		// Wrap all .slides with #slideInner div
		slides.wrapAll('<div id="slideInner"></div>')
		// Float left to display horizontally, readjust .slides width
		.css({
			'float' : 'left',
			'width' : slideWidth
		});

		// Set #slideInner width equal to total width of all slides
		$('#slideInner').css('width', slideWidth * numberOfSlides);

		// Hide left arrow control on first load
		//manageControls(currentPosition);

		// Create event listeners for .controls clicks
		$('.control').bind('click', function() {
			// Determine new position

			var position = ($(this).attr('id') == 'rightControl') ? currentPosition + 1 : currentPosition - 1;

			// Hide / show controls
			//manageControls(currentPosition);

			//alert(currentPosition);
			if (position < 0 || position > numberOfSlides - 1)
				return;

			currentPosition = position;

			// Move slideInner using margin-left
			$('#slideInner').animate({
				'marginLeft' : slideWidth * (-currentPosition)
			});
		});

		// manageControls: Hides and Shows controls depending on currentPosition
		function manageControls(position) {
			// Hide left arrow if position is first slide
			if (position == 0) {
				$('#leftControl').hide()
			} else {
				$('#leftControl').show()
			}
			// Hide right arrow if position is last slide
			if (position == numberOfSlides - 1) {
				$('#rightControl').hide()
			} else {
				$('#rightControl').show()
			}
		}

	}); 
</script>
<% end %>