<div class="row-fluid" id="board_for_<%= @okpage %>">
	<span class="label label-info"><%= t(:post_id) %>#<%= @post.id %></span>
	<h3 class="text-info"><%= @post.subject %></h3>
	<% if @post.respond_to? :price %>
		<h4 class="muted"><%= @post.price %></h4>
	<% end %>
	<% if @post.respond_to?(:room_type) && @post.room_type.present? %>
		<h5 class="muted"><%= t("#{@post.room_type}")%></h5>
	<% end %>
    <%= render :partial => "okboards/shared/gallery" %>
    <%= render :partial => "okboards/shared/sns" %>
		<div class="row-fluid">
				<div class="pull-left" id="okboard_likes">
				<%= link_to_with_icon_remote("", Okboard.okboard_link_like(@okpage, @post.id), "btn btn-small btn-info", "", "icon-thumbs-up icon-white") %>
				<%= @post.likes.to_s %>
				<%= image_tag("common/rank/#{@post.rank}.png") %>
				<%= link_to_with_icon_remote("", Okboard.okboard_link_dislike(@okpage, @post.id), "btn btn-small btn-warning", "", "icon-thumbs-down icon-white") %>
				<%= @post.dislikes.to_s %>
				<%= link_to(image_tag("common/sns/abuse.png", :class => "image-resize20_20"), Okboard.okboard_link_abuse(@okpage, @post.id), :remote => true, :method => :post) %>
				<%= @post.abuse.to_s %>
				</div>
				<div class="pull-right">
				<%= link_to_with_icon(t("to_list"), Okboard.okboard_link(@okpage), "btn btn-small", "margin:1px", "icon-th-list") %>
				<%= write_new_btn %>
				<%= link_to(image_tag("#{I18n.locale}/common/say_1.jpg"), "#new_comment") %>
				</div>
		</div>
		<div class="row-fluid">
		<table class="table table-bordered">
			<tr>
				<td><span class="label"><%= t("author") %></span></td>
				<td><%= author_name(@post) %></td>
				<td><span class="label"><%= t("created_at") %></span></td>
				<td><%= Common.date_format(@post.created_at) %></td>
				<td><span class="label"><%= t("category") %></span></td>
				<td><%= t("#{@post.category}") %></td>
			</tr>
			<tr>
				<td colspan="6">
				<dl class="" style="font-size:14px;background-color:#fff;padding:5px">
					<dt><span class="label"><%= t("content") %></span></dt>
					<% if @post.respond_to?(:requested_by) && Browser.ie?(nil, @post.requested_by) %>
						<dd><%= simple_format(@post.content.body) %></dd>
					<% else %>
						<dd><%= raw(@post.content.body) %></dd>
					<% end %>
				</dl>
				</td>
			</tr>
			<%if @post.has_attachment? %>
			<tr>
				<td><span class="label"><%= t("attachment") %></span></td>
				<td colspan="5">
					<% @post.attachment.each do |attachment| %>
					<p style="position: relative; float: left;margin-left: 5px">
						<%= link_to(image_tag("common/Icon-Document03-Blue.png", :class => "image-resize50_50", :title => "#{attachment.avatar_file_name}"), attachment.url) %>
						<%= attachment.filename %><br>
						<%= attachment.avatar_file_size %> (byte)
					</p> <% end %>
				</td>
			</tr>
			<% end %>
		</table>
		</div>
		<div class="row-fluid">
			<div class="to_prev pull-left">
			<div class="to_prev_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
			<div class="to_next pull-right">
			<div class="to_next_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="page-head">
			<h3 class="text-success"><i class="icon-volume-up"></i><%= t(:comment) %> <%= t(:write) %></h3>
			<% if !current_user %>
				<a href="<%=comment_new_path(@post, :category => @okpage)%>", class = "btn btn-info"><i class="icon-pencil icon-white" style=""></i><%=t(:please_signin_to_comment)%></a>
			<% else %>
				<i class="icon-user"></i>&nbsp;<%=current_user.name%>
			</div>
				<%= form_for(@comment, :method => :post) do |f| %>
				<%= hidden_field_tag :commented_id, @post.id %>
				<%= hidden_field_tag :commented_type, @okpage %>
				<%= f.text_area :body, :id => "comment_body", :rows => 5, :style => "width:600px;"%>
				<br/>
				<%= f.submit t("add"), :class => "btn btn-primary", :id => "comment_submit" %>
				<% end %>
			<% end %>
		</div>
		<% if @post.comment.present?%>
		<div class="row-fluid">
		<%= image_tag("common/sns/abuse.png", :class => "image-resize20_20")%>&nbsp;<%= t(:report_abuse_comment) %>
		</div>
		<% end %>
		<table id="okboard_comment" class="table">
			<tbody>
				<% @post.comment.reverse_each do |comment| %>
				<tr id="comment_<%=comment.id%>" class="#{cycle("odd", "even")}">
					<td>
					<div class="comment_row">

						<div class="comment_attr">
							<span class="badge"><%= t(:comment) %>#<%= comment.number %></span>&nbsp;<%= comment_author(comment) %>&nbsp;<%= comment.postedDate %> 
						</div>

						<div id='<%= "comment_likes_#{comment.id}" %>' class="comment_likes">
							<%= link_to_with_icon_remote("", comment_like_path(comment), "btn btn-mini btn-info", "", "icon-thumbs-up icon-white") %>
							<%= comment.likes.to_s %>
							<%= link_to_with_icon_remote("", comment_dislike_path(comment), "btn btn-mini btn-warning", "", "icon-thumbs-down icon-white") %>
							<%= comment.dislikes.to_s %>
							<%= link_to(image_tag("common/sns/abuse.png", :alt => "#{t(:report_abuse_comment)}", :class => "image-resize20_20"), comment_abuse_path(comment), :remote => true, :method => :post) %>
							<%= comment.abuse.to_s %>
						</div>

						<div class="comment_content box_round bs-docs">
							<div id="comment_content_<%= comment.id %>">
								<%= simple_format(comment.body) %>
							</div>
						</div>
						<div class="comment_hidden_content">
							<div id="comment_hidden_<%= comment.id %>" style="display:none">
								<%= t(:comment_is_hidden)%>&nbsp;<%= link_to_with_icon_with_id(t("Show"), "#", "btn btn-danger btn-small", "", "comment_show_#{comment.id}", "icon-eye-open") %>
							</div>
						</div>

						<% if comment.hide? %>
						<%= _script(%Q|
						$("\#comment_content_#{comment.id}").css("display","none");
						$("\#comment_hidden_#{comment.id}").css("display","block");
						$("\#comment_show_#{comment.id}").click(function() {
						$("\#comment_content_#{comment.id}").toggle('slow');
						$("\#comment_hidden_#{comment.id}").toggle('slow');
						return false;
						});
						|) %>

						<% else %>
						<% if current_user %>
						<div class="comment_reply">
							<%= link_to(image_tag("common/sns/reply.gif", :class => "image-resize20_20"), "#", :id => "reply_comment_#{comment.id}") %>
							<%= _script(%Q|
							$("\#reply_comment_#{comment.id}").click(function() {
								$("\#comment_body").val(" > #{comment_author(comment)} #{t(:sir)} #{comment.postedDate} #{t(:comment)}\##{comment.number}");
								$("\#comment_body").focus();
								return false;
							});
							|) %>
						</div>
						<% end %>
						<% end %>
					</div></td>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>
<%= _script(%Q|
$('\#comment_submit').click(function() {
if ($('\#comment_body').val() == "") return false;
})|) %>
<% 	if @search_id.present? %>
<%= _script_document_ready(%Q|
	$('div.to_prev_status').css("display","block");
	$('div.to_next_status').css("display","block");
	$.post("| + next_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|', s: '| + Okboard.param_enc(@search_id) + %Q|'});
	$.post("| + prev_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|', s: '| + Okboard.param_enc(@search_id) + %Q|'});
|) %>
<% else %>
<%= _script_document_ready(%Q|
	$('div.to_prev_status').css("display","block");
	$('div.to_next_status').css("display","block");
	$.post("| + next_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|'});
	$.post("| + prev_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|'});
|) %>
<% end %>
