<div style="position: relative; float: left; width: 750px;" id="board_for_<%= @okpage %>">
	<div class="okboard_top">
		<div class="page-header">
		<h1>
			<%= t(Style.page(@okpage))%>
		</h1>
		<p><%= t(:okpage_top_description) %></p>
		</div>
	</div>

	<h3 class="text-info"><%= @post.subject %></h3>
	<% if @post.respond_to? :price %>
		<h4 class="muted"><%= @post.price %></h4>
	<% end %>
    <%= render :partial => "okboards/shared/gallery" %>
    <!-- %= image_tag("#{I18n.locale}/common/title_dt_detail_info.gif") % -->
    		<%= render :partial => "okboards/shared/sns" %>
		<div class="okboard_view_controll">
			<div id="okboard_likes">
				<%= image_tag("#{I18n.locale}/common/btn_vote.gif") %>
				<%= link_to_with_icon_remote(t(:good), Okboard.okboard_link_like(@okpage, @post.id), "btn btn-small btn-info", "", "icon-thumbs-up icon-white") %>
				<%= @post.likes.to_s %>
				<%= image_tag("common/rank/#{@post.rank}.png") %>
				<%= link_to_with_icon_remote(t(:bad), Okboard.okboard_link_dislike(@okpage, @post.id), "btn btn-small btn-warning", "", "icon-thumbs-down icon-white") %>
				<%= @post.dislikes.to_s %>
				<%= link_to(image_tag("common/sns/abuse.png", :class => "image-resize20_20"), Okboard.okboard_link_abuse(@okpage, @post.id), :remote => true, :method => :post) %>
				<%= @post.abuse.to_s %>
			</div>
			<div id="okboard_quick_links">
				<%= link_to_with_icon(t("to_list"), Okboard.okboard_link(@okpage), "btn btn-small", "margin:1px", "icon-th-list") %>
				<% if [:p_job,:p_buy_and_sell,:p_well_being].include?(@okpage) %>
				<%= link_to_with_icon(t(:write_new), Okboard.okboard_link_write(@okpage), "btn btn-small", "margin:1px", "icon-pencil") %>
				<% end %>
				<% if current_user %>
				<%= link_to_with_icon(t(:mypage), mypage_okboards_path, "btn btn-small btn-info", "margin:1px", "icon-user") %>
				<% end %>
				<%= link_to(image_tag("#{I18n.locale}/common/say_1.jpg"), "#new_comment") %>
			</div>
		</div>
		<br>
	<div class="okboard_view_content">
		<!--
		<div class="page_control">
			<div class="to_prev">
			<div class="to_prev_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
			<div class="to_next">
			<div class="to_next_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
		</div>
		-->
		<dl class="dl-horizontal" style="font-size:16px;background-color:#fff;padding:5px">
			<dt><span class="label"><%= t("author") %></span></dt>
			<dd><%= author_name(@post) %></dd>
			<dt><span class="label"><%= t("created_at") %></span></dt>
			<dd><%= Common.date_format(@post.updated_at) %></dd>
			<dt><span class="label"><%= t("category") %></span></dt>
			<dd><%= t("#{@post.category}") %></dd>
			<dt><span class="label"><%= t("content") %></span></dt>
			<% if @post.respond_to?(:requested_by) && :Common.browser_detection(nil, @post.requested_by) == Okvalue::MSIE %>
				<dd><%= simple_format(@post.content.body) %></dd>
			<% else %>
				<dd><%= raw(@post.content.body) %></dd>
			<% end %>
			<%if @post.has_attachment? %>
			<dt><span class="label"><%= t("attachment") %></span></dt>
			<dd>
				<% @post.attachment.each do |attachment| %>
					<p style="position: relative; float: left;margin-left: 5px">
						<%= link_to(image_tag("common/Icon-Document03-Blue.png", :class => "image-resize50_50", :title => "#{attachment.avatar_file_name}"), attachment.url) %>
						<%= attachment.filename %>
					</p> <% end %>
			</dd>
			<% end %>
		</dl>
		<div class="page_control">
			<div class="to_prev">
			<div class="to_prev_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
			<div class="to_next">
			<div class="to_next_status" style="display:none"><%= image_tag("common/ajax_loading_1.gif")%></div>
			</div>
		</div>
		<br>

		<div class="comment_logo">
		<!-- %= image_tag("#{I18n.locale}/common/title_dt_user_comments.gif") % -->
			<h3 class="text-success"><i class="icon-volume-up"></i><%= t(:comment) %> <%= t(:write) %></h3>
		</div>
		<div class="new_comment" id="new_comment">
			<% if !current_user %>
			<a href="<%=comment_new_path(@post, :category => @okpage)%>", class = "btn btn-inverse"><i class="icon-pencil icon-white" style=""></i><%=t(:please_signin_to_comment)%></a>
			<% else %>
			<div class="span3">
				<%= image_tag("common/sns/ico_people.gif", :class => "image-resize30_30") %>
				<i class="icon-comment" style="position:absolute;left:50px;"></i>
			</div>
			<div class="span7">
				<%= form_for(@comment, :method => :post) do |f| %>
				<%= hidden_field_tag :commented_id, @post.id %>
				<%= hidden_field_tag :commented_type, @okpage %>
				<%= f.text_area :body, :id => "comment_body", :rows => 5, :style => "width:600px;"%>
				<br/>
				<%= f.submit t("add"), :class => "btn btn-primary", :id => "comment_submit" %>
				<% end %>
			</div>
			<% end %>

		</div>
		<% if @post.comment.present?%>
		<div class="comment_remark">
		<%= image_tag("common/sns/abuse.png", :class => "image-resize20_20")%>&nbsp;<%= t(:report_abuse_comment) %>
		</div>
		<% end %>
		<div class="comment_list"></div>
		<table id="okboard_comment" width=100% class="table" border="0">
			<tbody>
				<% @post.comment.reverse_each do |comment| %>
				<tr id="comment_<%=comment.id%>" class="#{cycle("odd", "even")}">
					<td>
					<div class="comment_row">
						<div class="commnet_user">
							<%= image_tag("common/sns/ico_people_group.gif", :class => "image-resize30_30") %>
						</div>
						<div class="comment_attr">
							<span class="badge"><%= t(:comment) %>#<%= comment.number %></span>&nbsp;<%= comment_author(comment) %>&nbsp;<%= comment.postedDate %> 
						</div>

						<div id='<%= "comment_likes_#{comment.id}" %>' class="comment_likes">
							<%= link_to_with_icon_remote(t(:agree_comment), comment_like_path(comment), "btn btn-mini btn-info", "", "icon-thumbs-up icon-white") %>
							<%= comment.likes.to_s %>
							<%= link_to_with_icon_remote(t(:disagree_comment), comment_dislike_path(comment), "btn btn-mini btn-warning", "", "icon-thumbs-down icon-white") %>
							<%= comment.dislikes.to_s %>
							<%= link_to(image_tag("common/sns/abuse.png", :class => "image-resize20_20"), comment_abuse_path(comment), :remote => true, :method => :post) %>
							<%= comment.abuse.to_s %>
						</div>

						<div class="comment_content">
							<div id="comment_content_<%= comment.id %>">
								<%= simple_format(comment.body) %>
							</div>
						</div>
						<div class="comment_hidden_content">
							<div id="comment_hidden_<%= comment.id %>" style="display:none">
								<%= t(:comment_is_hidden)%>&nbsp;<%= link_to_with_icon_with_id(t("Show"), "#", "btn btn-danger btn-small", "", "comment_show_#{comment.id}", "icon-eye-open") %>
							</div>
						</div>

						<% if comment.hide? %>
						<%= _script(%Q|
						$("\#comment_content_#{comment.id}").css("display","none");
						$("\#comment_hidden_#{comment.id}").css("display","block");
						$("\#comment_show_#{comment.id}").click(function() {
						$("\#comment_content_#{comment.id}").toggle('slow');
						$("\#comment_hidden_#{comment.id}").toggle('slow');
						return false;
						});
						|) %>

						<% else %>
						<% if current_user %>
						<div class="comment_reply">
							<%= link_to(image_tag("common/sns/reply.gif", :class => "image-resize20_20"), "#", :id => "reply_comment_#{comment.id}") %>
							<%= _script(%Q|
							$("\#reply_comment_#{comment.id}").click(function() {
								$("\#comment_body").val(" > #{comment_author(comment)} #{t(:sir)} #{comment.postedDate} #{t(:comment)}\##{comment.number}");
								$("\#comment_body").focus();
								return false;
							});
							|) %>
						</div>
						<% end %>
						<% end %>
					</div></td>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>
<%= _script(%Q|
$('\#comment_submit').click(function() {
if ($('\#comment_body').val() == "") return false;
})|) %>
<% 	if @search_id.present? %>
<%= _script_document_ready(%Q|
	$('div.to_prev_status').css("display","block");
	$('div.to_next_status').css("display","block");
	$.post("| + next_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|', s: '| + Okboard.param_enc(@search_id) + %Q|'});
	$.post("| + prev_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|', s: '| + Okboard.param_enc(@search_id) + %Q|'});
|) %>
<% else %>
<%= _script_document_ready(%Q|
	$('div.to_prev_status').css("display","block");
	$('div.to_next_status').css("display","block");
	$.post("| + next_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|'});
	$.post("| + prev_post_okboards_path + %Q|", {v: '| + Okboard.okpage_v(@okpage) + %Q|', d: '|  + Okboard.param_enc(@post.id) + %Q|'});
|) %>
<% end %>
