<% ie = Browser.ie?(request, nil) %>
<div class="row-fluid" id="board_for_<%= @okpage %>">
	<div class="page-head">
		<h1><%= t(Style.page(@okpage))%>&nbsp;<%= t('write_new')%></h1>
		<strong><p class="text-warning">
			<%= t(@okpage.to_s + "_notice")%>
		</p></strong>
	</div>
	<%= ok_error_messages!(@post) %>
	<%= form_for(@post, :html => { :class => "" }) do |f| %>
	<div class="pull-right">
		<span class="label label-info"><%= t('author') %></span>&nbsp;<i class="icon-user"></i><%= current_user.name %>
	</div>
	<%= f.hidden_field :write_at, :id => "write_at" %>

	<%= f.label t("subject") %>
	<%= f.text_field :subject, :class => "input-xxlarge", :placeholder => t("write_something") %>
	<%= f.label t("category") %>
	<%= f.select :category, options_from_collection_for_select(@post.category_list, :second, :first) %>
	<% if @post.respond_to? :room_type %>
	<%= f.label t(:room_type) %>
	<%= f.select :room_type, options_from_collection_for_select(@post.room_type_list, :second, :first), :include_blank => true %>
	<% end %>
	<% if @post.respond_to? :price %>
	<%= f.label t("price") %>
	<%= f.text_field :price, :class => "" %>
	<% end %>
	<%= f.label t("valid_until") %>
	<span class="label label-info"><%= Common.date_format(@post.valid_until) %></span>
	<span class="help-block"><%= t(:why_valid_until, :days => SystemConfig.instance.post_expiry_length) %></span>
	<%= f.fields_for @post.content do |content_form| %>
		<%= f.label :body, t("content") %>
		<% if !ie %>
		<%= content_form.cktext_area :body, :style => "width:500px;height:400px", :toolbar => 'Easy' %>
		<% else %>
		<%= content_form.text_area :body, :style => "width:500px;height:400px" %>
		<% end %>
		<br>
	<% end %>
	<%= f.submit t("create"), :class => "btn btn-primary" %>
	<%= link_to_with_icon(t(:image) + t(:upload), "#", "btn btn-info btn-small", "", "icon-cloud-upload", "upload_image_display_toggle") %>
	<%= link_to_with_icon(t(:attachment) + t(:upload), "#", "btn btn-info btn-small", "", "icon-cloud-upload", "upload_attachment_display_toggle") %>

	<% end %>
	<%= _script_document_ready(%Q|
		$('\#upload_image_display_toggle').click(function(){
			$('\#upload_image_display').show('slow');
			$('\#upload_attachment_display').hide('slow');
			return false;
		});
		$('\#upload_attachment_display_toggle').click(function(){
			$('\#upload_attachment_display').show('slow');
			$('\#upload_image_display').hide('slow');
			return false;
		});

	|)%>
	<hr>
	<div id="upload_image_display" style="display:none">
	<%= render :partial => "okboards/shared/upload/image" %>
	</div>
	<div id="upload_attachment_display" style="display:none">
	<%= render :partial => "okboards/shared/upload/attachment" %>
	</div>
</div>
