<div style="position: relative; float: left; width: 750px;" id="board_for_<%= @okpage %>">
	<p class="okboard_title">
		<%= t(Style.page(@okpage))%> <%= t('write_new')%>
	</p>
		<p class="okboard_notice">
		<%= t(@okpage.to_s + "_notice")%>
	</p>    
	<div class="okboard_form_write_new_post">
		<div class="author">
		  <%= t('author') %> <%= current_user.name %>
	    </div>
		<%= form_for(@post, :html => { :multipart => true, :class => "form" }) do |f| %>
		<%= f.hidden_field :write_at, :id => "write_at" %>
		<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this client_image from being saved:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="group">
			<%= f.label :subject, t("subject"), :class => "label left" %>
			<%= f.text_field :subject, :class => "text_field" %>
		</div>
		<div class="group">
			<%= f.label :category, t("category"), :class => "label left" %>
			<%= f.select :category, options_from_collection_for_select(@post.category_list, :second, :first) %>
		</div>
		<% if @post.respond_to? :price %>
		<div class="group">
			<%= f.label :price, t("price"), :class => "label left" %>
			<%= f.text_field :price, :class => "text_field" %>
		</div>
		<% end %>
		<div class="group">
			<%= f.label :valid_until, t("valid_until"), :class => "label left" %>
			<%= Common.date_format(@post.valid_until) %>
		</div>
		<%= f.fields_for @post.content do |content_form| %>
		<div class="group">
			<%= content_form.label :body, t("content"), :class => "label" %>
			<%= content_form.cktext_area :body, :width => 600, :height => 400, :toolbar => 'Easy' %>
		</div>
		<% end %>
	    <div class="group">
	    	<div class="image">
	    	<%= f.label :add_image, t("image") + t("add"), :class => "label left" %>
	    	<span class="description"><%= t("post_image_upload_description") %></span>
			<%= text_field_tag :something, '', :placeholder => t("write_something"), :class => "text_field", :id => "something" %>
			<br/>
			<%= file_field_tag :image, :id => "image" %><div class="image_upload_status" style="display:none"><%= image_tag("common/ajax_loading.gif")%></div>
			<div class="flash"><div class="image_upload_progress"></div></div>
			<% script = %Q|
			    function upload_image() {
				  if($('\#image').val() != "") {
      				$('div.image_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('image').files[0]);
      				formData.append("something",$("\#something").attr("value"));
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadImageProgress, false);
         	        xhr.addEventListener("load", uploadImageComplete, false);
      				xhr.open("POST", "#{_okboard_link_upload_image(@okpage)}", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadImageProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.image_upload_progress').html(progress + "%");
    			};
    			function uploadImageComplete(event) {
    			   $('div.image_upload_status').css("display","none");
    			   $('\#image').val('');
    			   $('\#something').val('');
                   if (event.target.status != 200) {
                     $('div.image_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result != 0) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.image_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showImages(data);
                    }
    			 };
    			 function showImages(data) {
    			 	 ids = data.images;
                     thumbnails = data.thumbnails;
                     somethingies = data.somethingies;
                     var html = "";
                     for (var i=0; i<ids.length; i++) {
                       html += '<div style="position: relative; float: left;margin-left: 5px">';
                       html += '<img src="' + thumbnails[i] + '" title="' + somethingies[i] + '" />';
                        html += '<div style="position: absolute; top: 0px; left:95%;">';
                        html += '<a href="#{_okboard_link_delete_image(@okpage)}' + ids[i] + '&t=' + $('\#write_at').val() + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                        html += "</div></div>"
                     }
                     $('div.display_image').html(html);
    			 };
    			| %>
    			<%= _script(%Q|$('\#image').change(function() {upload_image()});| + script) %>
			</div>
			<div class="group">
			<div class="display_image" style="margin: 3px;float:left"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="group">
	    	<div class="attachment">
	    	<%= f.label :add_attachment, t("attachment") + t("add"), :class => "label left" %>
	    	<span class="description"><%= t("post_attachment_upload_description") %></span>
			<%= file_field_tag :attachment, :id => "attachment" %><div class="attachment_upload_status" style="display:none"><%= image_tag("common/ajax_loading.gif")%></div>
			<div class="flash"><div class="attachment_upload_progress"></div></div>
			<% script = %Q|
                function upload_attachment() {
				  if($('\#attachment').val() != "") {
      				$('div.attachment_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('attachment').files[0]);
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadAttachmentProgress, false);
         	        xhr.addEventListener("load", uploadAttachmentComplete, false);
      				xhr.open("POST", "#{_okboard_link_upload_attachment(@okpage)}", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadAttachmentProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.attachment_upload_progress').html(progress + "%");
    			};
    			 function uploadAttachmentComplete(event) {
    			   $('div.attachment_upload_status').css("display","none");
    			   $('\#attachment').val('');
                   if (event.target.status != 200) {
                     $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result != 0) {
                    $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.attachment_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showAttachments(data);
                    }
    			 };
    			 function showAttachments(data) {
                      ids = data.attachments;
                      filesnames = data.filenames;
                      var html = "";
                      for (var i=0; i<ids.length; i++) {
                        html += '<div style="position: relative; float: left;margin-left: 5px">';
                        html += '<img src="/assets/common/Icon-Document03-Blue.png" width=50px height=50px title="' + filesnames[i] + '" />';
                        html += '<div style="position: absolute; top: 0px; left:95%;">';
                        html += '<a href="#{_okboard_link_delete_attachment(@okpage)}' + ids[i] + '&t=' + $('\#write_at').val() + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                        html += "</div></div>"
                      }
                      $('div.display_attachment').html(html);
    			 }
    			| %>
		    <%= _script(%Q|$('\#attachment').change(function() {upload_attachment();});| + script) %>
			</div>
			<div class="group">
			<div class="display_attachment" style="margin: 3px;float:left"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="group">
			<div class="left">
				<%= f.submit t("create"), :class => "button-link_ok" %>
			</div>
		</div>
		<% end %>
		<%= _script_document_ready(%Q|
		  $('div.image_upload_status').css("display","block");
		  $('div.attachment_upload_status').css("display","block");
		  $.post("| + get_image_okboards_path + %Q|", {v: '| + _okpage_v(@okpage) + %Q|', timestamp: $('\#write_at').val()}, function(data) {
		  	$('div.image_upload_status').css("display","none");showImages(data);
		  	});
		  	$.post("| + get_attachment_okboards_path + %Q|", {v: '| + _okpage_v(@okpage) + %Q|', timestamp: $('\#write_at').val()}, function(data) {
		  	$('div.attachment_upload_status').css("display","none");showAttachments(data);
		  	});
		|) %>
	</div>
</div>
