<div style="position: relative; float: left; width: 750px;" id="board_for_<%= @okpage %>">
	<p class="okboard_title">
		<%= t(@okpage.to_s)%> <%= t('write_new')%>
	</p>
	<div class="author">
		<%= t('author') %> <%= current_user.email %>
	</div>
    
	<div class="okboard_form_write_new_post">
		<%= form_for(@post, :html => { :multipart => true, :class => "form" }) do |f| %>
		<%= f.hidden_field :write_at, :id => "write_at" %>
		<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this client_image from being saved:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="group">
			<%= f.label :subject, t("subject"), :class => "label left" %>
			<%= f.text_field :subject, :class => "text_field" %>
		</div>
		<div class="group">
			<%= f.label :category, t("category"), :class => "label left" %>
			<%= f.select :category, options_from_collection_for_select(@post.category_list, :second, :first) %>
		</div>
	    <div class="group">
	    	<%= link_to(t("image") + t("add"), "#", :id => "attach_image")%>
	    	<div class="image" style="display:none">
			<%= text_field_tag :something, '', :placeholder => t("write_something"), :class => "text_field" %>
			<%= file_field_tag :image, :id => "image" %><div class="upload_status" style="display:none"><%= image_tag("common/ajax_loading.gif")%></div>
			<div class="flash"><div class="upload_progress"></div></div>
			<div class="upload_image">
			<%= submit_tag t("add"), :class => "button-link_naver", :id => "add_image" %>
			</div>
			<% script = %Q|function upload() {
				if($('\#image').val() != "") {
      				$('div.upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('image').files[0]);
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadProgress, false);
         	        xhr.addEventListener("load", uploadComplete, false);
      				xhr.open("POST", "#{_okboard_link_upload_image(@okpage)}", true);
      				xhr.send(formData);
      			}
    			};
    			function uploadProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.upload_progress').html(progress + "%");
    			};
    			function uploadComplete(event) {
    			   $('div.upload_status').css("display","none");
    			   $('\#image').val('');
                   if (event.target.status != 200) {
                     $('div.upload_status').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result != 0) {
                    $('div.upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                    	$('div.upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                    }
    			 };
    			| %>
    			<%= _script(%Q|$('\#add_image').click(function() {upload(); return false;});| + script) %>
			</div>
			<div class="display_image"></div>
		</div>
		<%= _script(%Q|$('\#attach_image').click(function() {$('div.image').toggle("slow");$('div.upload_progress').html('');return false; })|) %>
		<%= f.fields_for @post.content do |content_form| %>
		<div class="group">
			<%= content_form.label :body, t("content"), :class => "label" %>
			<%= content_form.cktext_area :body, :width => 600, :height => 400, :toolbar => 'Easy' %>
		</div>
		<% end %>
		<%= f.fields_for @post.attachment do |attachment_form| %>
		<div class="group">
			<%= attachment_form.label :avatar, t("attachment"), :class => "label", :style => "color:#fff"  %>
			<%= attachment_form.file_field :avatar, :class => "avatar", :size => 40 %>
		</div>
		<% end %>
		<div class="group">
			<div class="left">
				<%= f.submit t("create"), :class => "button-link_ok" %>
			</div>
		</div>

		<% end %>

	</div>
</div>
