<div class="row-fluid" id="okboards">
	<div class="row-fluid">
		<div class="span3" style="width: 230px">
	    	<%= single_body_banner(1) %>
	    </div>
	    <div class="span9" style="margin-bottom:10px">
			<%= single_body_banner(5) %>
		</div>
	</div>
	<div class="row-fluid">
		<div id="content_body">
			<%= show_notice %>
			<%= show_alert %>
			<%= render :partial => "okboards/#{Style.page(@okpage)}/index" %>
		</div>			
	</div>
	<div class="row" id="okboard_sponsor_links_bottom" style="position: relative; float: left; width: 100%">
	<div class="span3" style="width:210px;margin:left:0px;margin-right:10px"><%= single_body_banner(2) %></div>
	<div class="span3" style="width:210px;margin:left:0px;margin-right:10px"><%= single_body_banner(3) %></div>
	<div class="span3" style="width:210px;margin:left:0px;margin-right:10px"><%= single_body_banner(4) %></div>
	<div class="span3" style="width:210px;margin:left:0px;margin-right:10px"><%= single_body_banner(9) %></div>

	</div>
</div>
</div>
<%= _script_document_ready(%Q|
$("#_#{@okpage}").attr("style", "opacity:1;filter:alpha(opacity=100);");
$('\#sub_menu_#{@okpage}').show("slow");
|) %>
