<div class="row-fluid" id="okboards">
	<%= render :partial => "okboards/shared/top" %>	
	<div class="row-fluid" id="content_body">
		<%= show_notice %>
		<%= show_alert %>
		<%= render :partial => "okboards/#{Style.page(@okpage)}/index" %>
	</div>
	<%= render :partial => "okboards/shared/bottom" %>
</div>
	
</div>
<%= render :partial => "okboards/shared/footer" %>