<div class="ok_page" id="okboard_for_<%= @okpage %>">
    <div class="ok_page_top">
		<%= image_tag("#{I18n.locale}/#{Style.page(@okpage)}/ok_logo.gif", :class => "img-circle") %>
	</div>
	<div class="contact_form">
		<%= form_for(@contact) do |f| %>
		<% if @contact.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
			<%= f.label :user_name, t(:user_name), :class => "" %>
			<%= f.text_field :user_name, :class => "text_field" %>
			<%= f.label :email, t(:email), :class => "" %>
			<%= f.email_field :email, :class => "text_field" %>
			<%= f.label :phone, t(:phone), :class => "" %>
			<%= f.telephone_field :phone, :class => "text_field" %>
			<%= f.label :type, t(:subject), :class => "" %>
			<%= f.select :type, options_from_collection_for_select(@contact.category_list, :second, :first, @contact.type) %>
			<%= f.label :body, t(:content), :class => "" %>
			<%= f.text_area :body, :rows => "10", :columns => "20" %>
			<div class="left">
			<%= f.submit t(:send), :class => "btn btn-primary" %>
			</div>
		<% end %>

	</div>
</div>
