<div class="sponsor_page" id="okboard_for_<%= @okpage %>">
	<div class="sponsor_page_top">
		<p class="business_name">
			<%= @business_client.business_name %>
		</p>
		<% if @business_client.business_profile_image.present? %>
		<div class="profile_image">
			<div class="bigPicture">
			<%= image_tag(@business_client.main_profile_image.original_image, :id => "proimg")%>
			</div>
		</div>
		<% end %>
	</div>
	<div class="profile_head">
		<%= @business_client.business_profile.head%>
	</div>

	<div class="profile_body">
		<%= raw(@business_client.business_profile.body) %>
	</div>
</div>
