<div class="row" style="margin-bottom: 5px">
	<div class="span3">
		<%= link_to image_tag("common/logo2.png", :class => "img-rounded img-polaroid"), root_path(:locale => 'ko' ) %>
	</div>
	<div class="span3" style="">
		<%= render :partial => "homes/signin" %>
	</div>
	<div class="span5">
		<div class="row">
			<span class="pull-right"><p style="font-size: 16px">
				<strong><i class="icon-quote-left pull-left icon-large"></i><%= t("welcome_message")%>
				<%= show_user %>&nbsp;<i class="icon-quote-right icon-large"></i></strong>
				<span class="pull-right"><%= fb_shout %></span>
			</p>
			</span>
		</div>
		<div class="row" style="margin-top:10px;min-height:40px">
			<div class="pull-right">
				<% if !current_user %>
				<%= facebook %>&nbsp;
				<%= google %>&nbsp;
				<%= naver %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<form class="pull-right">
				<div class="input-append">
					<span class="add-on"><i class="icon-search"></i></span>
					<input type="text" class="input-large" id="search-query" placeholder="<%= t(:search_keyword)%>"/>
					<button class="btn" type="button">
						<%= t(:search)%>
					</button>
				</div>
				<span class="pull-right">
				<%= link_to_with_icon_with_id(t("bookmarkme"),"#","","","bookmarkme","icon-bookmark icon-border")%>
			</span>
			</form>
			
		</div>
	</div>
</div>
<div class="row">
	<%= render :partial => "homes/header/navigation" %>
</div>
