<div class="container-fluid">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="row-fluid">
				<div class="span3" style="width:250px;">
					<%= link_to image_tag("common/logo.gif", :size => "250x120", :class => "img-rounded img-polaroid"), root_path(:locale => 'ko' ) %>
				</div>
				<div class="span4" style="padding:5px">
					<%= render :partial => "homes/signin" %>
				</div>
				<div class="span5">
					<div class="row-fluid">
						<%= single_header_banner(1) %>
					</div>
					<div class="well well-small">
							<strong><%= t("welcome_message")%>
							<%= show_user %> </strong>
							<%= fb_shout%>
					</div>
					<div class="pull-right">
					<% if !current_user %>

						<%= facebook %>&nbsp;
						<%= google %>&nbsp;
						<%= link_to_with_icon_with_id(t("bookmarkme"),"#","btn btn-mini","","bookmarkme","icon-star")%>
					<% end %>

						
					</div>
				</div>
				</div>
				<div class="row-fluid">
					<%= render :partial => "homes/header/navigation" %>
				</div>
		</div>
		<%= _script_document_ready(%Q|
		$('\#bookmarkme').click(function(){
		var url = "#{root_url}";
		var title = "QUEENSLAND PORTAL OKBRISBANE";
		if(document.all) { // ie
		window.external.AddFavorite(url, title);
		}
		else if(window.sidebar) { // firefox
		console.log("firefox.");
		window.sidebar.addPanel(title,url,"");
		}
		else if(window.opera && window.print) { // opera
		var elem = document.createElement('a');
		elem.setAttribute('href',url);
		elem.setAttribute('title',title);
		elem.setAttribute('rel','sidebar');
		elem.click(); // this.title=document.title;
		}
		console.log("bookmarked.");
		});
		|)%>
	</div>
</div>
