<p><%= @resource.name %><%= t(:sir) %> <%= t(:welcome_message)%>!</p>

<p><%= t(:confirmation_email_content1) %></p>
<p><%= t(:confirmation_email_content2) %></p>
<p><%= t(:confirmation_email_content3) %></p>
<p><%= t(:confirmation_email_content4) %></p>
<p><%= t(:confirmation_email_content5) %></p>

<p><%= SystemSetting.first.admin_email %></p>


<p><%= link_to t(:confirm_my_account), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
