<p><%= t(:hello)%> <%= @resource.email %> <%= t(:sir)%></p>

<p><%= t(:sending_reset_password_instructions_content1) %></p>

<p><%= link_to t(:change_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:sending_reset_password_instructions_content2) %></p>
<p><%= t(:confirmation_email_content5) %></p>
<p><%= SystemSetting.first.admin_email %></p>
<p><%= t(:sending_reset_password_instructions_content3) %></p>
