<footer class="" style="background-color:#e0e0e0;height:65px;bottom:0px">
	<h5 class="" style="text-align:center;">Copyright &copy; <%= Common.current_time.year %> <%= Okvalue::FOOTER_TEXT1%>
	<br>
	<%= Okvalue::FOOTER_TEXT2 %>
	<br>
	<div class="pull-right">
		<%= link_to(t(:termsofservice), termsofservice_path, :class => "footer_text", :style => "margin-right:10px;")%>
		<%= link_to(t(:termsofpersonalinfo), termsofpersonal_path, :class => "footer_text", :style => "margin-right:10px;")%>
		<%= link_to(t(:banner_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_BANNER), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%>
		<%= link_to(t(:general_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_GENERAL), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%>
	</div>
	<p class="developer pull-left">
		<small>Developed by <%= link_to("Kenichi Takemura", "http://www.facebook.com/kenichi.takemura") %></small>
	</p></h5>
</footer>
<%= _script_document_ready(%Q|$(function() {
var topBtn = $('\#footer_links');
topBtn.hide();
$(window).scroll(function () {
if ($(this).scrollTop() > #{Okvalue::FOOTER_LINKS_SHOW_SIZE}) {
topBtn.fadeIn();
} else {
topBtn.fadeOut();
}
});})|)%>

