<!DOCTYPE html>
<html>
	<head>
		<% if Okbrisbane::Application.config.ok_debug %>
		<title>OKBRISBANE DEBUG</title>
		<% else %>
		<title>OKBRISBANE</title>
		<% end %>
		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'slides.min.jquery.js' %>
	</head>
	<body>
		<% if socialable? %>
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>
		<% end %>
		<%= single_background_banner(1) %>
		<%= single_background_banner(2) %>
		<%= single_background_banner(3) %>
		<%= single_background_banner(4) %>
		<%= single_background_banner(5) %>
		<%= single_background_banner(6) %>
		<div id="header">
			<div id="header-left">
				<div class="welcome">
				<%= t("welcome_message")%><br/>
				<% if current_user %>
				<%= current_user.name %>&nbsp;<%= t(:sir)%>
				<% else %>
				<%= link_to t("signin"), user_sign_in_path %>
				<%= t("or") %>
				<%= link_to t("signup"), member_managements_sign_up_path %>
				<%= t("please") %>
				<% end %>
				</div>
				<div id="logo">
					<%= link_to image_tag("common/logo.gif", :size => "250x120"), root_path(:locale => 'ko' ) %>
				</div>
				<div id="devise">
					<div id="account">
						<% if !user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_login.gif"), user_sign_in_path %>
						<% end %>
						<% if !user_signed_in? %>
						<%= image_tag("#{I18n.locale}/Signup/bar.gif") %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_member.gif"), member_managements_sign_up_path %>
						<% else %>
										<%= link_to(image_tag("#{I18n.locale}/Signup/btn_logout.gif"), destroy_user_session_path, :method => :delete) %>
										<% end %>
					</div>
				</div>
			</div>
			<div id="header-right">
				<% if current_user %>
				<%= link_to(image_tag("#{I18n.locale}/common/mypage.gif", :size => "70x30"), mypage_okboards_path) %>
				<% end %>
				<%= single_header_banner(1) %>
				<%= single_header_banner(2) %>
			</div>
			<div class="ok_information">
					<div class="weather_information">
						<%= link_to(image_tag("#{I18n.locale}/common/weather.gif"), "#", :id => "weather") %>
					</div>
					<div class="rate_information">
						<%= image_tag("#{I18n.locale}/common/rate.gif") %>
					</div>
					<div class="weather_information_box" style="display:none">
						<table>
							<tbody>
								<tr><td>Sydney</td></tr>
								<tr><td>Melbourne</td></tr>
								<tr><td>Brisbane</td></tr>
								<tr><td>Perth</td></tr>
								<tr><td>Adelaide</td></tr>
								<tr><td>Hobart</td></tr>
								<tr><td>Canberra</td></tr>
								<tr><td>Darwin</td></tr>
								<tr><td><%= t(:seoul) %></td></tr>
							</tbody>	
						</table>
					</div>
					<%= _script(%Q|
							$("\#weather").click(function() {
								$("div.weather_information_box").toggle("slow");
								return false;
							})
						
					|)%>	
			</div>
			<div id="header-bottom">
				<% if [:p_home,:p_signin,:p_signup,:p_signout,:p_mypage,:p_yellowpage].include?(@okpage)  %>
				<%= navigation("#41A317","#f0f0f0") %>
				<div id="follows">
					<% if socialable? %>
					<ul class="wat-cf">
						<li>
							<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="false" data-width="450" data-action="recommend" data-show-faces="true" data-font="trebuchet ms"></div>
						</li>
						<li>
							&nbsp;
						</li>
						<li>
							<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="ko">@twitter 팔로우하기</a>
							<script>
								! function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = "//platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, "script", "twitter-wjs");
							</script>
						</li>
					</ul>
					<% end %>
				</div>
				<% else %>
				<% Rails.logger.debug("not included #{@okpage}") %>
				<%= _script_document_ready(%Q|$('\#header').css("height","260px");$('\#header-bottom').css("height","60px");|)%>
				<% end %>
			</div>
		</div>
		<!-- header -->
		<!--
		<div class="flash">
		<% if notice %>
		<p class="message notice">
		<%= notice %>
		</p>
		<% end %>
		<% if alert %>
		<p class="message alert">
		<%= alert %>
		</p>
		<% end %>
		</div>
		-->
		<div id="main">
			<%= yield %>
		</div>
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		<div id="footer" align="center">
			<p>
				<%= image_tag("#{I18n.locale}/footer/footer.gif") %>
			</p>
		</div>
	</body>
</html>

