<!DOCTYPE html>
<html>
	<head>
		<title>OKBRISBANE</title>
		<!-- %= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", :cache => false % -->
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "jquery-ui-1.8.21.custom" %>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'jquery.cycle.all.js' %>
		<%= javascript_include_tag 'slides.min.jquery.js' %>
	</head>
	<body>
		<%= single_banner(:home, :background, 1) %>
		<%= single_banner(:home, :background, 2) %>
		<div id="header">
			<div id="header-left">
				<%= t("welcome_message", :default => 'Welcome! ')%>
				<% if current_user %>
				<%= current_user.email %>
				<% else %>
				<%= link_to t("signin"), user_sign_in_path %>
				<%= t("or") %>
				<%= link_to t("signup"), member_managements_sign_up_path %>
				<%= t("please") %>
				<% end %>
				<div id="logo">
					<%= link_to image_tag("common/logo.gif", :size => "250x120"), root_path(:locale => 'ko' ) %>
				</div>
				<div id="devise">
					<div id="account">
						<% if user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/login/btn_logout.gif"), destroy_user_session_path, :method => :delete %>
						<% else %>
						<%= link_to image_tag("#{I18n.locale}/login/btn_login.gif"), user_sign_in_path %>
						<% end %>
						<%= image_tag("#{I18n.locale}/login/bar.gif") %>
						<% if user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/login/btn_modify.gif"), edit_user_registration_path %>
						<% else %>
						<!-- %= link_to image_tag("#{I18n.locale}/login/btn_member.gif"), new_user_registration_path % -->
						<%= link_to image_tag("#{I18n.locale}/login/btn_member.gif"), member_managements_sign_up_path %>
						<% end %>
					</div>
				</div>
			</div>
			<div id="header-right">
				<%= single_banner(:home, :header, 1) %>
				<%= single_banner(:home, :header, 2) %>
			</div>
			<div id="header-bottom">
				<div id="follows">
					<ul class="wat-cf">
						<li>
							<%= image_tag("common/icon_facebook.png") %>
						</li>
						<li>
							<%= image_tag("common/icon_twitter.png") %>
						</li>
						<li>
							<%= image_tag("common/icon_me2day.png") %>
						</li>
						<li>
							<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="false" data-width="450" data-action="recommend" data-show-faces="true" data-font="trebuchet ms"></div>
						</li>
					</ul>
				</div>
				<div id="fb-root"></div>
				<script>
					// ( function(d, s, id) {
					// var js, fjs = d.getElementsByTagName(s)[0];
					// if (d.getElementById(id))
					// return;
					// js = d.createElement(s);
					// js.id = id;
					// js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					// fjs.parentNode.insertBefore(js, fjs);
					// }(document, 'script', 'facebook-jssdk'));
				</script>
				<%= navigation("#41A317","#f0f0f0") %>
			</div>
		</div>
		<!-- header -->
		<!--
		<div class="flash">
		<% if notice %>
		<p class="message notice">
		<%= notice %>
		</p>
		<% end %>
		<% if alert %>
		<p class="message alert">
		<%= alert %>
		</p>
		<% end %>
		</div>
		-->
		<div id="main">
			<%= yield %>
		</div>
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		<div id="footer" align="center">
			<p>
				<%= image_tag("#{I18n.locale}/footer/footer.gif") %>
			</p>
		</div>
	</body>
</html>

