<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "layouts/header" %>
	</head>
	<body>
		<div id="page_body">
			<%= render :partial => "layouts/social" %>
			<%= single_background_banner(1, 20) %>
			<%= single_background_banner(2, 20) %>
			<%= single_background_banner(3, 820) %>
			<%= single_background_banner(4, 820) %>
			<%= single_background_banner(5, 1620) %>
			<%= single_background_banner(6, 1620) %>
		</div>
		<div class="container header_container">
		<%= render :partial => "homes/header/header" %>
		</div>
		<div class="container ok_container box_round">
			<%= yield %>
		</div>
		<%= render :partial => "layouts/footer" %>
	</body>
</html>

