<!DOCTYPE html>
<html>
	<head>
		<title>OKBRISBANE</title>
		<%= stylesheet_link_tag "application" %>
		<%= csrf_meta_tag %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'slides.min.jquery.js' %>
	</head>
	<body>
		<% if socialable? %>
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>
		<% end %>
		<%= single_background_banner(1) %>
		<%= single_background_banner(2) %>
		<%= single_background_banner(3) %>
		<%= single_background_banner(4) %>
		<%= single_background_banner(5) %>
		<%= single_background_banner(6) %>
		<div id="header">
			<div id="header-left">
				<div class="welcome">
				<%= t("welcome_message")%><br/>
				<% if current_user %>
				<%= current_user.name %>&nbsp;<%= t(:sir)%>
				<% else %>
				<%= link_to t("signin"), user_sign_in_path %>
				<%= t("or") %>
				<%= link_to t("signup"), member_managements_sign_up_path %>
				<%= t("please") %>
				<% end %>
				</div>
				<div class="mypage">
				<% if current_user %>
				<%= link_to(image_tag("#{I18n.locale}/common/mypage.gif", :size => "60x20"), _okboard_link(:p_mypage)) %>
				<% end %>
				</div>
				<div id="logo">
					<%= link_to image_tag("common/logo.gif", :size => "250x120"), root_path(:locale => 'ko' ) %>
				</div>
				<div id="devise">
					<div id="account">
						<% if user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_logout.gif"), destroy_user_session_path, :method => :delete %>
						<% else %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_login.gif"), user_sign_in_path %>
						<% end %>
						<%= image_tag("#{I18n.locale}/Signup/bar.gif") %>
						<% if user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_modify.gif"), edit_user_registration_path %>
						<% else %>
						<!-- %= link_to image_tag("#{I18n.locale}/login/btn_member.gif"), new_user_registration_path % -->
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_member.gif"), member_managements_sign_up_path %>
						<% end %>
					</div>
				</div>
			</div>
			<div id="header-right">
				<div class="ok_weather">
					<div class="weather_information">
						<%= t("weather_information")%>
					</div>
					<%= link_to t("brisbane"), "http://www.weather.com.au/qld/brisbane", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("sydney"),  "http://www.weather.com.au/nsw/sydney", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("melbourne"),  "http://www.weather.com.au/vic/melbourne", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("canberra"),  "http://www.weather.com.au/act/canberra", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("hobart"),  "http://www.weather.com.au/tas/hobart", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("adelaide"),  "http://www.weather.com.au/sa/adelaide", :target => "_blank", :class => "weather_location" %>
					<%= link_to t("perth"),  "http://www.weather.com.au/wa/perth", :target => "_blank", :class => "weather_location" %>
				</div>
				<%= single_header_banner(1) %>
				<%= single_header_banner(2) %>
			</div>
			<div id="header-bottom">
				<% if [:p_home,:p_signin,:p_signup,:p_signout].include?(@okpage)  %>
				<%= navigation("#41A317","#f0f0f0") %>
				<div id="follows">
					<% if socialable? %>
					<ul class="wat-cf">
						<li>
							<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="false" data-width="450" data-action="recommend" data-show-faces="true" data-font="trebuchet ms"></div>
						</li>
						<li>
							&nbsp;
						</li>
						<li>
							<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="ko">@twitter 팔로우하기</a>
							<script>
								! function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = "//platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, "script", "twitter-wjs");
							</script>
						</li>
					</ul>
					<% end %>
				</div>
				<% else %>
				<% Rails.logger.debug("not included #{@okpage}") %>
				<%= _script_document_ready(%Q|$('\#header').css("height","260px");$('\#header-bottom').css("height","60px");|)%>
				<% end %>
			</div>
		</div>
		<!-- header -->
		<!--
		<div class="flash">
		<% if notice %>
		<p class="message notice">
		<%= notice %>
		</p>
		<% end %>
		<% if alert %>
		<p class="message alert">
		<%= alert %>
		</p>
		<% end %>
		</div>
		-->
		<div id="main">
			<%= yield %>
		</div>
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		<div id="footer" align="center">
			<p>
				<%= image_tag("#{I18n.locale}/footer/footer.gif") %>
			</p>
		</div>
	</body>
</html>

