<!DOCTYPE html>
<html>
	<head>
		<% if Okbrisbane::Application.config.ok_debug %>
		<title>QUEENSLAND PORTAL OKBRISBANE DEBUG</title>
		<% else %>
		<title>QUEENSLAND PORTAL OKBRISBANE</title>
		<% end %>
		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/assets/ckeditor/';
		</script>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="page_body">
			<% if socialable? %>
			<div id="fb-root"></div>
			<script>
				( function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id))
							return;
						js = d.createElement(s);
						js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
			</script>
			<% end %>
			<%= single_background_banner(1) %>
			<%= single_background_banner(2) %>
			<%= single_background_banner(3) %>
			<%= single_background_banner(4) %>
			<%= single_background_banner(5) %>
			<%= single_background_banner(6) %>
		</div>
		<div id="header">
			<div id="header-left">
				<div class="span3">
					<strong><%= t("welcome_message")%></strong>
				</div>
				<div class="span4" style="margin-bottom:5px;">
					<% if current_user %>
					<%= current_user.name %>&nbsp;<%= t(:sir)%>
					<% else %>
					<span class="label label-info"><%= t(:signin)%></span>
					<%= t("or") %>
					<span class="label label-inverse"><%= t(:signup)%></span>
					<%= t("please") %>
					<% end %>
				</div>
				<div id="logo">
					<%= link_to image_tag("common/logo.gif", :size => "250x120"), root_path(:locale => 'ko' ) %>
				</div>
				<div id="devise">
					<div id="account">
						<% if !user_signed_in? %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_login.gif"), user_sign_in_path %>
						<% end %>
						<% if !user_signed_in? %>
						<%= image_tag("#{I18n.locale}/Signup/bar.gif") %>
						<%= link_to image_tag("#{I18n.locale}/Signup/btn_member.gif"), member_managements_sign_up_path %>
						<% else %>
						<%= link_to(image_tag("#{I18n.locale}/Signup/btn_logout.gif"), destroy_user_session_path, :method => :delete) %>
						<% end %>
					</div>
				</div>
				<div class="span3" style="margin-left:0px;margin-top:5px">
					<% if current_user %>
					<%= link_to(t(:mypage), mypage_okboards_path, :class => "btn btn-info") %>
					<% end %>
				</div>
			</div>
			<div id="header-right">
				<div class="span3" style="margin-left:0px;width:210px">
					<a href="#adminNoticeModal" role="button" class="btn btn-link" data-toggle="modal" id="a_adminNoticeModal"><span class="label label-info"><i class="icon-info-sign icon-white"></i><%= t(:admin_notice)%></span></a>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<% if @admin_notice.present? %>
						<%= @admin_notice.subject %>
						<% else %>
						<%= t(:no_notice)%>
						<%end %>
					</div>
					<div class="modal hide fade" id="adminNoticeModal" tabindex="-1" role="dialog" aria-labelledby="adminNoticeLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="adminNoticeLabel"><%=t(:admin_notice)%></h3>
						</div>
						<div class="modal-body" id="modal-body_admin_notice">
							<%= image_tag("common/ajax_loader_1.gif") %>
						</div>
						<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true"><%=t(:close)%></button>
						</div>
						<%= _script(%Q|$('\#a_adminNoticeModal').click(function(){$.post('| + admin_notice_homes_path + %Q|');})|) %>
					</div>
				</div>
				<%= single_header_banner(1) %>
				<div class="span5" style="height:30px">
				<%= render :partial => "homes/ok_information" %>
				</div>
				<%= single_header_banner(2) %>
			</div>
			<div id="header-bottom">
				<%= navigation("#41A317","#f0f0f0") %>
				<% if [:p_home,:p_signin,:p_signup,:p_signout,:p_mypage,:p_yellowpage].include?(@okpage) %>
				<div id="follows">
					<% if socialable? %>
					<ul class="wat-cf">
						<li>
							<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="false" data-width="450" data-action="recommend" data-show-faces="true" data-font="trebuchet ms"></div>
						</li>
						<li>
							&nbsp;
						</li>
						<li>
							<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="ko">@twitter 팔로우하기</a>
							<script>
								! function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = "//platform.twitter.com/widgets.js";
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, "script", "twitter-wjs");
							</script>
						</li>
					</ul>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="container ok_container">
			<%= yield %>
		</div>
		<footer class="" style="background-color:#e0e0e0;height:65px;bottom:0px">
			<h5 class="" style="text-align:center;">Copyright &copy; <%= Common.current_time.year %> <%= Okvalue::FOOTER_TEXT1%><br>
			<%= Okvalue::FOOTER_TEXT2 %>
			<br>
			<div class="pull-right">
			<%= link_to(t(:termsofservice), termsofservice_path, :class => "footer_text", :style => "margin-right:10px;")%>
			<%= link_to(t(:termsofpersonalinfo), termsofpersonal_path, :class => "footer_text", :style => "margin-right:10px;")%>
			<%= link_to(t(:banner_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_BANNER), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%>
			<%= link_to(t(:general_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_GENERAL), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%>
			</div>
			<p class="developer pull-left">
				<small>Developed by <%= link_to("Kenichi Takemura", "http://www.facebook.com/kenichi.takemura") %></small>
			</p>
			</h5>
		</footer>
		<%= _script_document_ready(%Q|$(function() {
				var topBtn = $('\#footer_links');	
				topBtn.hide();
				$(window).scroll(function () {
				if ($(this).scrollTop() > #{Okvalue::FOOTER_LINKS_SHOW_SIZE}) {
					topBtn.fadeIn();
				} else {
					topBtn.fadeOut();
				}
			});})|)%>
	</body>
</html>

