<!DOCTYPE html>
<html>
	<head>
		<% if Okbrisbane::Application.config.ok_debug %>
		<title>QUEENSLAND PORTAL OKBRISBANE DEBUG</title>
		<% else %>
		<title>QUEENSLAND PORTAL OKBRISBANE</title>
		<% end %>
		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/assets/ckeditor/';
		</script>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="page_body">
			<% if socialable? %>
			<div id="fb-root"></div>
			<script>
				( function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id))
							return;
						js = d.createElement(s);
						js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
			</script>
			<% end %>
			<%= single_background_banner(1) %>
			<%= single_background_banner(2) %>
			<%= single_background_banner(3) %>
			<%= single_background_banner(4) %>
			<%= single_background_banner(5) %>
			<%= single_background_banner(6) %>
			<div id="header">
				<div id="header-left">
					<div class="span3">
						<strong><%= t("welcome_message")%></strong>
					</div>
					<div class="span4">
						<% if current_user %>
						<%= current_user.name %>&nbsp;<%= t(:sir)%>
						<% else %>
						<%= link_to t("signin"), user_sign_in_path %>
						<%= t("or") %>
						<%= link_to t("signup"), member_managements_sign_up_path %>
						<%= t("please") %>
						<% end %>
					</div>
					<div id="logo">
						<%= link_to image_tag("common/logo.gif", :size => "250x120"), root_path(:locale => 'ko' ) %>
					</div>
					<div id="devise">
						<div id="account">
							<% if !user_signed_in? %>
							<%= link_to image_tag("#{I18n.locale}/Signup/btn_login.gif"), user_sign_in_path %>
							<% end %>
							<% if !user_signed_in? %>
							<%= image_tag("#{I18n.locale}/Signup/bar.gif") %>
							<%= link_to image_tag("#{I18n.locale}/Signup/btn_member.gif"), member_managements_sign_up_path %>
							<% else %>
							<%= link_to(image_tag("#{I18n.locale}/Signup/btn_logout.gif"), destroy_user_session_path, :method => :delete) %>
							<% end %>
						</div>
					</div>
				</div>
				<div id="header-right">
				<div class="span2">
				<span class="label label-info"><%=t(:admin_notice)%></span>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<%= t(:no_notice)%>
				</div>
				</div>
					<%= single_header_banner(1) %>
					<%= single_header_banner(2) %>
				</div>
				<div class="ok_information">
					<div class="weather_information">
						<%= image_tag("common/australia.gif", :size => "20x20") %>
						<%= link_to(t(:weather_information) , "#", :id => "weather_au", :class => "btn btn-mini ") %>
						<%= image_tag("common/korea.gif", :size => "20x20") %>
						<%= link_to(t(:weather_information) , "#", :id => "weather_kr", :class => "btn btn-mini btn-info") %>
					</div>
					<div class="rate_information">
						<%= image_tag("common/won.gif", :size => "20x20") %>
						<%= link_to(t(:rate_information) , "#", :id => "ex_rate", :class => "btn btn-mini btn-warning") %>
					</div>
					<div>
					<%= render :partial => "homes/ok_information" %>
				</div>
				</div>
				<div id="header-middle" class="span9" style="position:relative">
				<div class="span1">
					<% if current_user %>
					<%= link_to(image_tag("#{I18n.locale}/common/mypage.gif", :size => "70x30"), mypage_okboards_path, :class => "mypage image_submit_ok") %>
					<% end %>
				</div>

				</div>
				<div id="header-bottom">
					<%= navigation("#41A317","#f0f0f0") %>
					<% if [:p_home,:p_signin,:p_signup,:p_signout,:p_mypage,:p_yellowpage].include?(@okpage) %>
					<div id="follows">
						<% if socialable? %>
						<ul class="wat-cf">
							<li>
								<div class="fb-like" data-href="http://www.okbrisbane.com" data-send="false" data-width="450" data-action="recommend" data-show-faces="true" data-font="trebuchet ms"></div>
							</li>
							<li>
								&nbsp;
							</li>
							<li>
								<a href="https://twitter.com/twitter" class="twitter-follow-button" data-show-count="false" data-lang="ko">@twitter 팔로우하기</a>
								<script>
									! function(d, s, id) {
										var js, fjs = d.getElementsByTagName(s)[0];
										if (!d.getElementById(id)) {
											js = d.createElement(s);
											js.id = id;
											js.src = "//platform.twitter.com/widgets.js";
											fjs.parentNode.insertBefore(js, fjs);
										}
									}(document, "script", "twitter-wjs");
								</script>
							</li>
						</ul>
						<% end %>
					</div>
					<% end %>
				</div>
			</div>
			<div id="main">
				<%= yield %>
			</div>
			<div id="sidebar">
				<%= yield :sidebar %>
			</div>
		</div>
		<div id="footer">
			<div class="span10 copyright">
				<p class="copyright_text">Copyright &copy; <%= Common.current_time.year %> <%= Okvalue::FOOTER_TEXT1%></p>
				<p class="copyright_text"><%= Okvalue::FOOTER_TEXT2 %></p>
				<div class="developer">
					Developed by <%= link_to("Kenichi Takemura", "http://www.facebook.com/kenichi.takemura") %>
				</div>
			</div>
		</div>
		<div class="footer_links">
			<%= link_to(t(:termsofservice), termsofservice_path, :class => "footer_text", :style => "margin-right:10px;")%><br />
			<%= link_to(t(:termsofpersonalinfo), termsofpersonal_path, :class => "footer_text", :style => "margin-right:10px;")%><br />
			<%= link_to(t(:banner_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_BANNER), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%><br />
			<%= link_to(t(:general_contact), show_ok_sponsors_path(:t => Okvalue::CONTACT_GENERAL), :class => "footer_text", :style => "margin-right:10px;color:#00006E")%><br />
		</div>
	</body>
</html>

