<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "layouts/header" %>
		<%= render :partial => "layouts/social" %>
	</head>
	<body>
		<div id="page_body">
			<%= single_background_banner(1, 20) %>
			<%= single_background_banner(2, 20) %>
			<%= single_background_banner(3, 820) %>
			<%= single_background_banner(4, 820) %>
			<%= single_background_banner(5, 1620) %>
			<%= single_background_banner(6, 1620) %>
		</div>
		<%= render :partial => "okboards/shared/navigation" %>
		<header style="position:relative;margin-top:120px;height:150px">
			<div class="container">
			<div class="span4">	
			<h1><%= t(Style.page(@okpage))%></h1>
			<p>
				<%= t(:okpage_top_description) %>
			</p>
			</div>
			<div class="span7">	
			<%= single_header_banner(2) %>
			</div>
		</header>
		<div class="container ok_container">
			<%= yield %>
		</div>
		<%= render :partial => "layouts/footer" %>
	</body>
</html>

